#Proyecto Final Fase 2 Módulo 2 BEDU

##Procesamiento de datos con Python - Equipo 4

###Integrantes: 
- Juan Manuel Ledesma Rangel
- Hannia Melendres Samaniego
- Alejandro Cortéz Sánchez
- Martín Otamendi Torres
- Rodrigo Alvarado Gómez

---
##A. Identificación de un problema - Postwork 1

###A.1 Problema:
> Conocimiento respecto al derecho a protección y/o asistencia consular como mexicano migrante dentro de territorio estadounidense.

###A.2 Justificación del problema:
> La migración de ciudadanos mexicanos a Estados Unidos es un tema que está en la conciencia poblacional. No es novedad el flujo de migrantes hacia este país en busca de mejores y nuevas oportunidades. Sin embargo, poca es la educación respecto a los derechos que se tienen como mexicano en territorio estadounidense, entre ellos el derecho a la protección y/o asistencia consular. Por tanto, y con ayuda de los datos proporcionados por la Secretaría de Relaciones Exteriores (SRE), se desea analizar los casos de protección y/o asistencia consular atendidos en la Red Diplomática Consular de México en Estados Unidos (para el ámbito migratorio), con la finalidad de darlos a conocer.

###A.3 Investigación preliminar:
> De acuerdo a la CNDH [1], los mexicanos migrantes tienen derechos reconocidos en la Constitución Política de los Estados Unidos Mexicanos. Entre ellos, el derecho a la asistencia consular y a la protección. Es trabajo de la Embajada de México hacer regir estos derechos en todos los países con relaciones diplomáticas. En Estados Unidos de América, los trámites de protección en materia de migración son los derivados de casos de repatriación y detención migratoria [2]. A su vez, los datos que serán analizados, aportados por la SRE [3], indican como casos de ámbito migracional a las remociones, permisos de internación, menores bajo la ley TVPRA (menores que cruzan la frontera sin acompañamiento adulto [4]), usos de documentos falsos, víctimas de fraude migratorio, y la orientación general sobre consultas migratorias y/o trámites de residencia.

###A.4 Soluciones anteriores al problema:
> Si bien no se encontraron investigaciones puntuales respecto al dataset en concreto, sí se han realizado esfuerzos por hacer llegar la información a más personas. La CNDH, por ejemplo, ha publicado un archivo pdf [5] de fácil lectura hablando sobre los derechos de migrantes.

---
##B. Planteamiento de Preguntas - Postwork 2

El tema de la migración trae, sin dudas, muchísimas preguntas de la mano. Sin embargo, para los registros de trámites realizados en los consulados mexicanos dentro EUA, nosotros nos cuestionamos:

1.   ¿Cuál es el trámite más consultado?

2.   ¿Cuál es el trámite menos consultado?

3.   ¿Cuál estado de la República Mexicana tiene más flujo migratorio?

4.   ¿Cuál es el porcentaje de menores de edad bajo la ley TVPRA (menores que migraron sin acompañamiento adulto)?

5.   Si deseo realizar un trámite en época de pandemia y evitar dentro de lo posible una aglomeración de personas, ¿a cuál consulado debería asistir de acuerdo al número total de casos atendidos entre 2019 y 2022?

6.   ¿Cómo ha cambiado el flujo migratorio por estado conforme a la llegada de la pandemia?

---
## C. Colección de Datos/Uso de APIs  - Postwork 3 y 6

Para el análisis, utilizaremos el dataset (en formato .csv)

>"Migratorio - Casos de protección y/o asistencia consular atendidos por la RDCM en el mundo"

aportado por la Secretaría de Relaciones Exteriores (SRE) desde la página de datos.gob.mx [3].

---
##D. Análisis exploratorio de datos - Postwork 4

Para realizar el análisis exploratorio de datos (AED), importamos la librería "pandas" y convertimos el archivo .csv a dataframe desde su página de origen:

In [2]:
import pandas as pd

#Archivo CSV original recabado de la página del gobierno
#Fue necesario agregar "encoding= 'latin-1'" para poder leerlo

df = pd.read_csv('https://portales.sre.gob.mx/transparencia/datos_abiertos/DGPME/Migratorio_CasodeproteccionconsularatendidosporlaRDCMx.csv',
                 sep=',', encoding= 'latin-1')

Hacemos una previsualización de los datos, para definir si será necesario hacer limpieza:

In [2]:
#Hacemos una previsualización de los datos

df.head(30)

,Casos de proteccion y/o asistencia consular atendidos en la RDCM en Estados Unidos - ámbito migratorio,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AÑO,NaN,2010,NaN,NaN,2011,NaN,NaN,2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ÁMBITO,RUBRO DE PROTECCIÓN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MIGRATORIO,"INCIDENTES, MÚLTIPLES INVOLUCRADOS (MIGRATORIO)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,MENOR PROCESADO BAJO LEY TVPRA,1,373,135,NaN,375,112,NaN,357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,ORIENTACIóN GENERAL SOBRE CONSULTAS MIGRATORIA...,2,"1,734","1,472",6,"1,844","1,885",4,"1,687",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,OTROS CASOS DEL áMBITO MIGRATORIO,10,"4,423","1,026",6,"8,073","1,129",11,"8,545",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,PERMISOS DE INTERNACIóN POR RAZONES HUMANITARIAS,6,"1,143","1,352",NaN,"1,096","1,403",1,902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,PROCESOS JUDICIALES MIGRATORIOS DE REMOCIóN,16,"10,455","1,174",18,"18,514","1,413",26,"49,479",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,PROCESOS JUDICIALES MIGRATORIOS DE RESIDENCIA,NaN,339,413,1,775,304,1,260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,REMOCIóN EXPEDITA EN PUERTOS DE ENTRADA,41,"21,203","3,897",2,"32,763","1,428",2,"32,491",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,REPATRIACIóN DE ENFERMOS EN PROCESOS DE REMOCIóN,NaN,178,25,53,158,14,NaN,156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,"REPATRIACIóN DE ENFERMOS, PERSONAS ACCIDENTADA...",1,727,327,1,643,297,NaN,797,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,REPATRIACIóN DE MENORES (POR ESTANCIA O INGRES...,21,"10,225","1,775",17,"7,739","1,411",26,"8,499",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,REPATRIACIóN DE MENORES INFRACTORES (NO POR FA...,NaN,505,62,1,293,37,1,288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,REPATRIACIóN DE OTRAS PERSONAS VULNERABLES,3,"3,106",875,2,"2,551","1,076",NaN,"2,537",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,TESTIGOS DE CARGO,1,415,239,NaN,339,247,1,244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,USO DE DOCUMENTOS FALSOS,2,73,46,NaN,57,51,NaN,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,VíCTIMAS DE FRAUDE MIGRATORIO,NaN,67,53,NaN,30,18,NaN,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,AÑO,NaN,2019,NaN,NaN,2020,NaN,NaN,2021,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,ÁMBITO,REPRESENTACIÓN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,MIGRATORIO,ALBUQUERQUE,1,260,173,2,162,59,1,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,ATLANTA,0,660,285,2,287,164,NaN,146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,AUSTIN,1,690,429,1,171,144,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,BOISE,0,82,63,3,62,47,NaN,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,BOSTON,0,61,16,0,16,12,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,BROWNSVILLE,1,"4,899",484,2,"4,624",323,1,"1,279",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,CALEXICO,15,"6,242","1,302",1,"6,059",491,2,"2,026",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,CHICAGO,1,"3,078",781,2,"1,586",472,2,"1,111",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###D.1 Primer problema:
Como podemos ver en la visualización de arriba, este dataset, a pesar de estar en formato .csv, fue tratado como un archivo .xlsx. Encontramos en él, entonces, varias tablas en una sola hoja de cálculo, como se muestra en la siguiente imagen:

![Estructura en crudo del csv.png](https://github.com/JuanMaLR/bedu-equipo4-dataScience-P-FP/blob/second/images/raw_struc.png?raw=true)
(Las líneas rojas delimitan 3 de las 8 tablas presentes en la misma hoja de cálculo, únicamente para ejemplificar)

Decidimos no continuar con el AED de este dataframe hasta que esté mejor delimitado, y procedimos a darle solución a este problema.

Propusimos separar cada tabla manualmente para trabajar con ellas por separado. Cada tabla fue tratada como un archivo .csv indiviual, y se subió a nuestro repositorio de GitHub dentro de la carpeta "raw_data". A continuación sus lecturas en solitario:

In [3]:
#De las 8 tablas, se leen únicamente aquellas cuya información es relevante para el análisis del caso de EUA (4)
#Las convertimos a dataframe con pandas

casos = pd.read_csv('https://raw.githubusercontent.com/JuanMaLR/bedu-equipo4-dataScience-P-FP/second/raw_data/casos.csv', sep=',', encoding= 'latin-1')
oficinas = pd.read_csv('https://raw.githubusercontent.com/JuanMaLR/bedu-equipo4-dataScience-P-FP/second/raw_data/oficinas.csv', sep=',', encoding= 'latin-1')
edo_origen = pd.read_csv('https://raw.githubusercontent.com/JuanMaLR/bedu-equipo4-dataScience-P-FP/second/raw_data/edo_origen.csv', sep=',', encoding= 'latin-1')
rango_edad = pd.read_csv('https://raw.githubusercontent.com/JuanMaLR/bedu-equipo4-dataScience-P-FP/second/raw_data/rango_edad.csv', sep=',', encoding= 'latin-1')

Verificamos que se hayan cargado correctamente con otra visualización:

In [4]:
#Visualizando casos.csv

casos.head()

,AÑO,Unnamed: 1,2010,Unnamed: 3,Unnamed: 4,2011,Unnamed: 6,Unnamed: 7,2012,Unnamed: 9,...,Unnamed: 31,2020,Unnamed: 33,Unnamed: 34,2021,Unnamed: 36,Unnamed: 37,* 2022,Unnamed: 39,Unnamed: 40
0,ÁMBITO,RUBRO DE PROTECCIÓN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,...,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER
1,MIGRATORIO,"INCIDENTES, MÚLTIPLES INVOLUCRADOS (MIGRATORIO)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,1
2,NaN,MENOR PROCESADO BAJO LEY TVPRA,1,373,135,NaN,375,112,NaN,357,...,312,1,230,128,2,726,526,2,467,359
3,NaN,ORIENTACIóN GENERAL SOBRE CONSULTAS MIGRATORIA...,2,"1,734","1,472",6,"1,844","1,885",4,"1,687",...,"7,948",7,"2,584","2,451",4,"2,229","1,115",2,693,852
4,NaN,OTROS CASOS DEL áMBITO MIGRATORIO,10,"4,423","1,026",6,"8,073","1,129",11,"8,545",...,"6,519",142,"20,194","3,248",3,"12,009","2,985",1,"8,004","1,730"

In [9]:
#Visualizando oficinas.csv

oficinas.head()

,AÑO,Unnamed: 1,2019,Unnamed: 3,Unnamed: 4,2020,Unnamed: 6,Unnamed: 7,2021,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,ÁMBITO,REPRESENTACIÓN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MIGRATORIO,ALBUQUERQUE,1,260,173,2,162,59,1,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,ATLANTA,0,660,285,2,287,164,NaN,146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,AUSTIN,1,690,429,1,171,144,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,BOISE,0,82,63,3,62,47,NaN,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Visualizando edo_origen.csv

edo_origen.head()

,AÑO,Unnamed: 1,Unnamed: 2,2019,Unnamed: 4,Unnamed: 5,2020,Unnamed: 7,Unnamed: 8,2021,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,EDO. ORIGEN,NaN,NaN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AGUASCALIENTES,NaN,NaN,1,815,184,0,785,89,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAJA CALIFORNIA,NaN,NaN,1,894,316,0,943,215,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAJA CALIFORNIA SUR,NaN,NaN,0,41,23,0,31,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CAMPECHE,NaN,NaN,1,255,46,1,266,21,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Visualizando rango_edad.csv

rango_edad.head()

,AÑO,2019,Unnamed: 2,Unnamed: 3,2020,Unnamed: 5,Unnamed: 6,2021,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,Grupo de edad,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,De 00 a 17 años,50,"7,375","1,985",15,"5,569","1,326",1,"11,737","2,128",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,De 18 a 25 años,78,"20,381","4,514",57,"18,793","2,827",11,"10,538","1,903",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,De 26 a 35 años,143,"32,117","5,733",82,"27,261","3,425",7,"11,122","2,021",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,De 36 a 45 años,93,"24,630","5,599",40,"19,468","2,513",7,"8,729","1,570",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

A simple vista resaltan las áreas de mejora de los dataframes, sin embargo, observamos el resumen de cada uno de ellos para conocerlos más a fondo con ayuda de la función "info":

In [19]:
#Resumen de los dataframes
print(casos.info())
print("-----------------------------------------")
print(oficinas.info())
print("-----------------------------------------")
print(edo_origen.info())
print("-----------------------------------------")
print(rango_edad.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AÑO          2 non-null      object
 1   Unnamed: 1   17 non-null     object
 2   2010         12 non-null     object
 3   Unnamed: 3   16 non-null     object
 4   Unnamed: 4   16 non-null     object
 5   2011         11 non-null     object
 6   Unnamed: 6   16 non-null     object
 7   Unnamed: 7   16 non-null     object
 8   2012         10 non-null     object
 9   Unnamed: 9   16 non-null     object
 10  Unnamed: 10  16 non-null     object
 11  2013         8 non-null      object
 12  Unnamed: 12  16 non-null     object
 13  Unnamed: 13  16 non-null     object
 14  2014         9 non-null      object
 15  Unnamed: 15  16 non-null     object
 16  Unnamed: 16  16 non-null     object
 17  2015         12 non-null     object
 18  Unnamed: 18  16 non-null     object
 19  Unnamed: 19  16 non-null     object
 20  2016         10 non-null     object
 21  Unnamed: 21  16 non-null     object
 22  Unnamed: 22  16 non-null     object
 23  2017         12 non-null     object
 24  Unnamed: 24  16 non-null     object
 25  Unnamed: 25  16 non-null     object
 26  2018         4 non-null      object
 27  Unnamed: 27  16 non-null     object
 28  Unnamed: 28  16 non-null     object
 29  2019         13 non-null     object
 30  Unnamed: 30  16 non-null     object
 31  Unnamed: 31  16 non-null     object
 32  2020         12 non-null     object
 33  Unnamed: 33  16 non-null     object
 34  Unnamed: 34  16 non-null     object
 35  2021         9 non-null      object
 36  Unnamed: 36  16 non-null     object
 37  Unnamed: 37  16 non-null     object
 38  * 2022       8 non-null      object
 39  Unnamed: 39  17 non-null     object
 40  Unnamed: 40  16 non-null     object
dtypes: object(41)
memory usage: 5.6+ KB
None
-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AÑO          2 non-null      object
 1   Unnamed: 1   52 non-null     object
 2   2019         52 non-null     object
 3   Unnamed: 3   52 non-null     object
 4   Unnamed: 4   52 non-null     object
 5   2020         52 non-null     object
 6   Unnamed: 6   52 non-null     object
 7   Unnamed: 7   52 non-null     object
 8   2021         24 non-null     object
 9   Unnamed: 9   52 non-null     object
 10  Unnamed: 10  52 non-null     object
 11  * 2022       14 non-null     object
 12  Unnamed: 12  52 non-null     object
 13  Unnamed: 13  52 non-null     object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
 26  Unnamed: 26  0 non-null      float64
 27  Unnamed: 27  0 non-null      float64
 28  Unnamed: 28  0 non-null      float64
 29  Unnamed: 29  0 non-null      float64
 30  Unnamed: 30  0 non-null      float64
 31  Unnamed: 31  0 non-null      float64
 32  Unnamed: 32  0 non-null      float64
 33  Unnamed: 33  0 non-null      float64
 34  Unnamed: 34  0 non-null      float64
 35  Unnamed: 35  0 non-null      float64
 36  Unnamed: 36  0 non-null      float64
 37  Unnamed: 37  0 non-null      float64
 38  Unnamed: 38  0 non-null      float64
 39  Unnamed: 39  0 non-null      float64
 40  Unnamed: 40  0 non-null      float64
dtypes: float64(27), object(14)
memory usage: 16.8+ KB
None
-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AÑO          36 non-null     object
 1   Unnamed: 1   0 non-null      float64
 2   Unnamed: 2   0 non-null      float64
 3   2019         36 non-null     object
 4   Unnamed: 4   36 non-null     object
 5   Unnamed: 5   36 non-null     object
 6   2020         36 non-null     object
 7   Unnamed: 7   36 non-null     object
 8   Unnamed: 8   36 non-null     object
 9   2021         15 non-null     object
 10  Unnamed: 10  36 non-null     object
 11  Unnamed: 11  36 non-null     object
 12  * 2022       15 non-null     object
 13  Unnamed: 13  36 non-null     object
 14  Unnamed: 14  36 non-null     object
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
 26  Unnamed: 26  0 non-null      float64
 27  Unnamed: 27  0 non-null      float64
 28  Unnamed: 28  0 non-null      float64
 29  Unnamed: 29  0 non-null      float64
 30  Unnamed: 30  0 non-null      float64
 31  Unnamed: 31  0 non-null      float64
 32  Unnamed: 32  0 non-null      float64
 33  Unnamed: 33  0 non-null      float64
 34  Unnamed: 34  0 non-null      float64
 35  Unnamed: 35  0 non-null      float64
 36  Unnamed: 36  0 non-null      float64
 37  Unnamed: 37  0 non-null      float64
 38  Unnamed: 38  0 non-null      float64
 39  Unnamed: 39  0 non-null      float64
 40  Unnamed: 40  0 non-null      float64
dtypes: float64(28), object(13)
memory usage: 16.8+ KB
None
-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AÑO          11 non-null     object
 1   2019         11 non-null     object
 2   Unnamed: 2   11 non-null     object
 3   Unnamed: 3   11 non-null     object
 4   2020         11 non-null     object
 5   Unnamed: 5   11 non-null     object
 6   Unnamed: 6   11 non-null     object
 7   2021         11 non-null     object
 8   Unnamed: 8   11 non-null     object
 9   Unnamed: 9   11 non-null     object
 10  * 2022       11 non-null     object
 11  Unnamed: 11  11 non-null     object
 12  Unnamed: 12  11 non-null     object
 13  Unnamed: 13  0 non-null      float64
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
 26  Unnamed: 26  0 non-null      float64
 27  Unnamed: 27  0 non-null      float64
 28  Unnamed: 28  0 non-null      float64
 29  Unnamed: 29  0 non-null      float64
 30  Unnamed: 30  0 non-null      float64
 31  Unnamed: 31  0 non-null      float64
 32  Unnamed: 32  0 non-null      float64
 33  Unnamed: 33  0 non-null      float64
 34  Unnamed: 34  0 non-null      float64
 35  Unnamed: 35  0 non-null      float64
 36  Unnamed: 36  0 non-null      float64
 37  Unnamed: 37  0 non-null      float64
 38  Unnamed: 38  0 non-null      float64
 39  Unnamed: 39  0 non-null      float64
 40  Unnamed: 40  0 non-null      float64
dtypes: float64(28), object(13)
memory usage: 16.8+ KB
None

Está función nos arroja información sobre el tipo de datos, el nombre de las columnas, y la cantidad de registros y de no-nulls de un dataframe. Consideramos que esta función es suficiente para conocer la estructura de nuestro dataset, pero las dimensiones del mismo no son tan visibles. Para corregir esto, requerimos de "shape":

In [20]:
#Dimensiones
print(casos.shape)
print(oficinas.shape)
print(edo_origen.shape)
print(rango_edad.shape)

(17, 41)
(52, 41)
(52, 41)
(52, 41)

In [ ]:
#Aquí va cualquier otra función para el AED que se quiera usar. Por favor, justifica su uso como se ha estado realizando con anterioridad.
#Si no hay nada más que agregar en el AED, elimina esta celda de código.

A pesar de haber realizado la separación del archivo .csv original en cuatro distintos, los datos siguen estando sucios en demasía. Contienen bastantes datos NotaNumber (NaN), los encabezados no están definidos, la mayoría de tipos de datos son objetos, y hay filas y columnas innecesarias.

Así, procedemos a la limpieza de los datos.

##E. Limpieza del DataFrame - Postwork 5

Como primer vistazo, notamos que nuestro dataset tiene abundantes datos NaN. Los contamos sumando (.sum) todos los valores True que arroje la función ".isna()". Primero por columna:

In [ ]:
#NaNs por columna
df.isna().sum()

FECHA        0
CLAVE_EST    0
PARAMETRO    0
HORA01       0
HORA02       0
HORA03       0
HORA04       0
HORA05       0
HORA06       0
HORA07       0
HORA08       0
HORA09       0
HORA10       0
HORA11       0
HORA12       0
HORA13       0
HORA14       0
HORA15       0
HORA16       0
HORA17       0
HORA18       0
HORA19       0
HORA20       0
HORA21       0
HORA22       0
HORA23       0
HORA24       0
dtype: int64

Y después por fila:

In [ ]:
#NaNs por fila
df.isna().sum(axis = 1)

0        0
1        0
2        0
3        0
4        0
        ..
31634    0
31635    0
31636    0
31637    0
31638    0
Length: 31639, dtype: int64

In [ ]:
#df_dropped = df.dropna(axis=0, how='all')
#df_no_nans['productos_vendidos'].fillna(0)
#df_dropped = df_dropped.reset_index(drop=True)
#column_name_mapping = {
#    'Suburb': 'suburb',
#    'Address': 'address',
#}
#df_renamed = df_dropped.rename(columns=column_name_mapping)

Lo segundo visible son las primeras columnas de los dataframes "casos" y "oficinas", que simplemente no aportan nada. Las eliminamos usando:

In [ ]:
#Eliminar la primera columna

Lo tercero que observamos de los 4 dataframes, es que ninguno parece tener sus encabezados establecidos correctamente. Si recurrimos a los archivos desde una hoja de cálculo, notamos que esto se debe a que en realidad tienen dos encabezados, y todos siguen el mismo patrón:

![Patrón de encabezado.png](https://github.com/JuanMaLR/bedu-equipo4-dataScience-P-FP/blob/second/images/pattern.png?raw=true)

Decidimos unir ambos para simplificar el dataframe colocando una d para DESC., h para HOMBRE y m para MUJER, seguido del año en que se realizó el registro. Por ejemplo: h_2010.

Con el fín de no realizarlo "a mano" (y porque es un detalle que se repite en todos los dataframes), creamos la siguiente función y la reciclamos:

In [ ]:
#función

Asignamos, finalmente, los encabezados.

In [ ]:
#Más limpieza que sea necesaria

##F. Transformación de datos  - Postwork 7

In [ ]:
#diccionario_de_conversion = {
#    'bestsellers_date.numberLong': 'datetime64[ns]',
#    'published_date.numberLong': 'datetime64[ns]'
#}
#temp = df.astype(diccionario_de_conversion)
#pd.to_datetime(df['published_date.numberLong'], unit='ms')
#df['rank.numberInt'] = pd.to_numeric(df['rank.numberInt'], errors='coerce')
#df['description'] = df['description'].str.replace('Descr:', '')
#df['description'] = df['description'].str.strip()
#df['title'].str.lower()
#df[['author_first_name', 'author_last_name']] = df['author'].str.split(' ', expand=True)
#def years_since_bestseller(value):
#    as_datetime = pd.to_datetime(value, unit='ms')
#    today = pd.to_datetime('today')
#    difference_in_days = (today - as_datetime).days
#    in_years = difference_in_days / 365    
#    return in_years
#df['published_date.numberLong'].apply(years_since_bestseller)

##G. Planes a futuro  - Postwork 8

Dado que este módulo únicamente abarca el procesamiento de datos, y por ende no se finaliza la investigación, proponemos los siguientes puntos para un futuro estudio del tema:

*   Obtener datos más concretos respecto al tipo de trámites realizados en cada oficina del consulado.
*   Comparar los datos de este dataset con las estadísticas generales de migración para...

##H. Referencias

1.   https://www.cndh.org.mx/derechos-humanos/derechos-de-las-personas-migrantes
2.   https://consulmex.sre.gob.mx/washington/index.php/prot
3.   https://datos.gob.mx/busca/dataset/migratorio--casos-de-proteccion-y-o-asistencia-consular-atendidos-por-la-rdcm-en-el-mundo/resource/3b99534a-6bf6-4f43-91f2-e5281e017473
4.   https://firstfocus.org/wp-content/uploads/2014/08/Legal-Protections-for-Unaccompanied-Minors-in-the-Trafficking-Victims-Protection-Act-of-2008.pdf
5.   https://www.cndh.org.mx/sites/all/doc/cartillas/2015-2016/37-Migrantes-DH.pdf