#Proyecto Final Fase 2 Módulo 2 BEDU

##Procesamiento de datos con Python - Equipo 4

###Integrantes: 
- Juan Manuel Ledesma Rangel
- Hannia Melendres Samaniego
- Alejandro Cortéz Sánchez
- Martín Otamendi Torres
- Rodrigo Alvarado Gómez

---
##A. Identificación de un problema - Postwork 1

###A.1 Problema:
> Migración Ilegal de México a EUA

###A.2 Fundamento teórico del proyecto:
> Se puede encontrar en orden en el siguiente documento de Google: https://docs.google.com/document/d/1ZaYfFqN-BYprB7sjOddCJQ0kL0N6DMkUv_dTJy_gsgI/edit#

---
##B. Planteamiento de Preguntas - Postwork 2

Tras realizar la investigación preliminar, surgieron las siguientes preguntas (también encontradas dentro del documento comentado con anterioridad):

1.   ¿Cuántos (y cuáles) de los trámites son por cuestiones de deportación o migración ilegal?
2.   ¿Existe algún incremento en los casos de migración ilegal en mujeres?
3.   ¿Realmente hubo un deceso de migración ilegal entre 2014 y 2017?
4.   ¿Cuál es el porcentaje de menores de edad que cruzan la frontera ilegalmente por sí solos (ley TVPRA)?
5.   ¿De qué estado de la República Mexicana provienen la mayoría de los migrantes ilegales?

---
## C. Colección de Datos/Uso de APIs  - Postwork 3 y 6

Para el análisis, utilizaremos el dataset (en formato .csv)...

>"Migratorio - Casos de protección y/o asistencia consular atendidos por la Red Diplomática Consular de México en el mundo"

aportado por la Secretaría de Relaciones Exteriores (SRE) desde la página de datos.gob.mx.

Para realizar el análisis exploratorio de datos (AED), importamos la librería "pandas" y convertimos el archivo .csv a dataframe desde su página de origen:

In [38]:
import pandas as pd

#Archivo CSV original recabado de la página del gobierno
#Fue necesario agregar "encoding= 'latin-1'" para poder leerlo

df = pd.read_csv('https://portales.sre.gob.mx/transparencia/datos_abiertos/DGPME/Migratorio_CasodeproteccionconsularatendidosporlaRDCMx.csv',
                 sep=',', encoding= 'latin-1')

---
##D. Análisis exploratorio de datos - Postwork 4

Hacemos una previsualización de los datos, para definir si será necesario hacer limpieza:

In [39]:
#Hacemos una previsualización de los datos

df.head(15)

,Casos de proteccion y/o asistencia consular atendidos en la RDCM en Estados Unidos - ámbito migratorio,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AÑO,NaN,2010,NaN,NaN,2011,NaN,NaN,2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ÁMBITO,RUBRO DE PROTECCIÓN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MIGRATORIO,"INCIDENTES, MÚLTIPLES INVOLUCRADOS (MIGRATORIO)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,MENOR PROCESADO BAJO LEY TVPRA,1,373,135,NaN,375,112,NaN,357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,ORIENTACIóN GENERAL SOBRE CONSULTAS MIGRATORIA...,2,"1,734","1,472",6,"1,844","1,885",4,"1,687",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,OTROS CASOS DEL áMBITO MIGRATORIO,10,"4,423","1,026",6,"8,073","1,129",11,"8,545",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,PERMISOS DE INTERNACIóN POR RAZONES HUMANITARIAS,6,"1,143","1,352",NaN,"1,096","1,403",1,902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,PROCESOS JUDICIALES MIGRATORIOS DE REMOCIóN,16,"10,455","1,174",18,"18,514","1,413",26,"49,479",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,PROCESOS JUDICIALES MIGRATORIOS DE RESIDENCIA,NaN,339,413,1,775,304,1,260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,REMOCIóN EXPEDITA EN PUERTOS DE ENTRADA,41,"21,203","3,897",2,"32,763","1,428",2,"32,491",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,REPATRIACIóN DE ENFERMOS EN PROCESOS DE REMOCIóN,NaN,178,25,53,158,14,NaN,156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,"REPATRIACIóN DE ENFERMOS, PERSONAS ACCIDENTADA...",1,727,327,1,643,297,NaN,797,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,REPATRIACIóN DE MENORES (POR ESTANCIA O INGRES...,21,"10,225","1,775",17,"7,739","1,411",26,"8,499",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,REPATRIACIóN DE MENORES INFRACTORES (NO POR FA...,NaN,505,62,1,293,37,1,288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###D.1 Análisis inicial:
Como podemos observar, todas nuestras columnas aparecen como "Unnamed" salvo la primera que dice: "Casos de proteccion y/o asistencia consular atendidos en la RDCM en Estados Unidos - ámbito migratorio". 

También se puede contemplar que la fila cero tiene puros NaNs, y que las filas 1 y 2 parecen ser encabezados que indican el año de los casos atendidos y el género de la persona atendida, respectivamente. 

Por otro lado, a partir de la columna "Unnamed: 42" se tienen puros NaNs en los número de casos atendidos. 

Por lo anterior este dataset es ideal para poner en práctica los conocimientos adquiridos en este curso.

###D.2 Entender el dataset:
A fin de poder entender mejor el dataset, será necesario observar otros parámetros de utilidad cómo sus dimensiones, columnas, tipos de dato, etc.

In [40]:
#Para ver las dimensiones
df.shape

(219, 52)

In [41]:
#Para ver las columnas que lo integran
df.columns

Index(['Casos de proteccion  y/o asistencia consular atendidos en la RDCM en Estados Unidos - ámbito migratorio',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51'],
      dtype='object')

In [42]:
#Para ver los tipos de dato por columna
df.dtypes

Casos de proteccion  y/o asistencia consular atendidos en la RDCM en Estados Unidos - ámbito migratorio     object
Unnamed: 1                                                                                                  object
Unnamed: 2                                                                                                  object
Unnamed: 3                                                                                                  object
Unnamed: 4                                                                                                  object
Unnamed: 5                                                                                                  object
Unnamed: 6                                                                                                  object
Unnamed: 7                                                                                                  object
Unnamed: 8                                                                                                  object
Unnamed: 9                                                                                                  object
Unnamed: 10                                                                                                 object
Unnamed: 11                                                                                                 object
Unnamed: 12                                                                                                 object
Unnamed: 13                                                                                                 object
Unnamed: 14                                                                                                 object
Unnamed: 15                                                                                                 object
Unnamed: 16                                                                                                 object
Unnamed: 17                                                                                                 object
Unnamed: 18                                                                                                 object
Unnamed: 19                                                                                                 object
Unnamed: 20                                                                                                 object
Unnamed: 21                                                                                                 object
Unnamed: 22                                                                                                 object
Unnamed: 23                                                                                                 object
Unnamed: 24                                                                                                 object
Unnamed: 25                                                                                                 object
Unnamed: 26                                                                                                 object
Unnamed: 27                                                                                                 object
Unnamed: 28                                                                                                 object
Unnamed: 29                                                                                                 object
Unnamed: 30                                                                                                 object
Unnamed: 31                                                                                                 object
Unnamed: 32                                                                                                 object
Unnamed: 33                                                                                                 object
Unnamed: 34                                                                                                 object
Unnamed: 35                                                                                                 object
Unnamed: 36                                                                                                 object
Unnamed: 37                                                                                                 object
Unnamed: 38                                                                                                 object
Unnamed: 39                                                                                                 object
Unnamed: 40                                                                                                 object
Unnamed: 41                                                                                                float64
Unnamed: 42                                                                                                float64
Unnamed: 43                                                                                                float64
Unnamed: 44                                                                                                float64
Unnamed: 45                                                                                                float64
Unnamed: 46                                                                                                float64
Unnamed: 47                                                                                                float64
Unnamed: 48                                                                                                float64
Unnamed: 49                                                                                                float64
Unnamed: 50                                                                                                float64
Unnamed: 51                                                                                                float64
dtype: object

De lo anterior podemos notar que tenemos dos tipos de dato en nuestro dataframe: "object" y "float64". Si observamos con mayor detalle, veremos que la razón por la que tenemos "object" se debe a que las primeras dos filas (que tendrían que ser encabezados) son contenido, y al detectar texto pandas convierte toda la columna a objeto.

Por último, para simplificar todo lo que vimos con anterioridad, y visualizar los NaNs en nuestro dataframe, utilizaremos "info":

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 52 columns):
 #   Column                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                   --------------  -----
 0   Casos de proteccion  y/o asistencia consular atendidos en la RDCM en Estados Unidos - ámbito migratorio  17 non-null     object
 1   Unnamed: 1                                                                                               204 non-null    object
 2   Unnamed: 2                                                                                               170 non-null    object
 3   Unnamed: 3                                                                                               179 non-null    object
 4   Unnamed: 4                                                                                               176 non-null    object
 5   Unnamed: 5                                                                                               98 non-null     object
 6   Unnamed: 6                                                                                               177 non-null    object
 7   Unnamed: 7                                                                                               169 non-null    object
 8   Unnamed: 8                                                                                               59 non-null     object
 9   Unnamed: 9                                                                                               151 non-null    object
 10  Unnamed: 10                                                                                              153 non-null    object
 11  Unnamed: 11                                                                                              57 non-null     object
 12  Unnamed: 12                                                                                              140 non-null    object
 13  Unnamed: 13                                                                                              134 non-null    object
 14  Unnamed: 14                                                                                              12 non-null     object
 15  Unnamed: 15                                                                                              101 non-null    object
 16  Unnamed: 16                                                                                              25 non-null     object
 17  Unnamed: 17                                                                                              19 non-null     object
 18  Unnamed: 18                                                                                              101 non-null    object
 19  Unnamed: 19                                                                                              99 non-null     object
 20  Unnamed: 20                                                                                              69 non-null     object
 21  Unnamed: 21                                                                                              101 non-null    object
 22  Unnamed: 22                                                                                              97 non-null     object
 23  Unnamed: 23                                                                                              58 non-null     object
 24  Unnamed: 24                                                                                              79 non-null     object
 25  Unnamed: 25                                                                                              99 non-null     object
 26  Unnamed: 26                                                                                              52 non-null     object
 27  Unnamed: 27                                                                                              79 non-null     object
 28  Unnamed: 28                                                                                              95 non-null     object
 29  Unnamed: 29                                                                                              52 non-null     object
 30  Unnamed: 30                                                                                              26 non-null     object
 31  Unnamed: 31                                                                                              28 non-null     object
 32  Unnamed: 32                                                                                              17 non-null     object
 33  Unnamed: 33                                                                                              29 non-null     object
 34  Unnamed: 34                                                                                              30 non-null     object
 35  Unnamed: 35                                                                                              14 non-null     object
 36  Unnamed: 36                                                                                              26 non-null     object
 37  Unnamed: 37                                                                                              28 non-null     object
 38  Unnamed: 38                                                                                              14 non-null     object
 39  Unnamed: 39                                                                                              29 non-null     object
 40  Unnamed: 40                                                                                              25 non-null     object
 41  Unnamed: 41                                                                                              0 non-null      float64
 42  Unnamed: 42                                                                                              0 non-null      float64
 43  Unnamed: 43                                                                                              0 non-null      float64
 44  Unnamed: 44                                                                                              0 non-null      float64
 45  Unnamed: 45                                                                                              0 non-null      float64
 46  Unnamed: 46                                                                                              0 non-null      float64
 47  Unnamed: 47                                                                                              0 non-null      float64
 48  Unnamed: 48                                                                                              0 non-null      float64
 49  Unnamed: 49                                                                                              0 non-null      float64
 50  Unnamed: 50                                                                                              0 non-null      float64
 51  Unnamed: 51                                                                                              0 non-null      float64
dtypes: float64(11), object(41)
memory usage: 89.1+ KB

Gracias a "info", podemos concluir que todas nuestras columnas contienen al menos 1 elemento NaN, ya que de las 219 filas que tenemos, la columna más cercana a un "Non-Null Count" perfecto tiene 204 filas con datos, resultando en 15 NaNs.

El mismo razonamiento puede utilizarse con el resto de las columnas.

###D.3 Primer problema:
Este dataset, a pesar de estar en formato .csv, fue tratado como un archivo .xlsx. Esto lo podemos notar si abrimos el archivo en Excel, ya que encontramos varias tablas en una sola hoja de cálculo, además de comentarios en múltiples celdas y espacios en blanco, como se muestra en la siguiente imagen:

![Estructura en crudo del csv.png](https://github.com/JuanMaLR/bedu-equipo4-dataScience-P-FP/blob/main/images/raw_struc.png?raw=true)
(Las líneas rojas delimitan 3 de las 8 tablas presentes en la misma hoja de cálculo, únicamente para ejemplificar)

Propusimos separar en tablas individuales el csv original, que, por motivos del alcance del proyecto (énfasis en EUA), sólo fueron de nuestro interés 4 de las 8 tablas encontradas en el dataframe inicial. 

Cada tabla fue tratada como un archivo .csv individual, y se subió a nuestro repositorio de GitHub dentro de la carpeta "raw_data". A continuación sus lecturas en solitario:

In [44]:
#De las 8 tablas, se leen únicamente aquellas cuya información es relevante para el análisis del caso de EUA (4)
#Las convertimos a dataframe con pandas

casos = pd.read_csv('https://raw.githubusercontent.com/JuanMaLR/bedu-equipo4-dataScience-P-FP/main/raw_data/casos.csv', sep=',', encoding= 'latin-1')
oficinas = pd.read_csv('https://raw.githubusercontent.com/JuanMaLR/bedu-equipo4-dataScience-P-FP/main/raw_data/oficinas.csv', sep=',', encoding= 'latin-1')
edo_origen = pd.read_csv('https://raw.githubusercontent.com/JuanMaLR/bedu-equipo4-dataScience-P-FP/main/raw_data/edo_origen.csv', sep=',', encoding= 'latin-1')
rango_edad = pd.read_csv('https://raw.githubusercontent.com/JuanMaLR/bedu-equipo4-dataScience-P-FP/main/raw_data/rango_edad.csv', sep=',', encoding= 'latin-1')

Verificamos que se hayan cargado correctamente utilizando "head":

In [45]:
#Visualizando casos.csv

casos.head()

,AÑO,Unnamed: 1,2010,Unnamed: 3,Unnamed: 4,2011,Unnamed: 6,Unnamed: 7,2012,Unnamed: 9,...,Unnamed: 31,2020,Unnamed: 33,Unnamed: 34,2021,Unnamed: 36,Unnamed: 37,* 2022,Unnamed: 39,Unnamed: 40
0,ÁMBITO,RUBRO DE PROTECCIÓN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,...,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER
1,MIGRATORIO,"INCIDENTES, MÚLTIPLES INVOLUCRADOS (MIGRATORIO)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,1
2,NaN,MENOR PROCESADO BAJO LEY TVPRA,1,373,135,NaN,375,112,NaN,357,...,312,1,230,128,2,726,526,2,467,359
3,NaN,ORIENTACIóN GENERAL SOBRE CONSULTAS MIGRATORIA...,2,"1,734","1,472",6,"1,844","1,885",4,"1,687",...,"7,948",7,"2,584","2,451",4,"2,229","1,115",2,693,852
4,NaN,OTROS CASOS DEL áMBITO MIGRATORIO,10,"4,423","1,026",6,"8,073","1,129",11,"8,545",...,"6,519",142,"20,194","3,248",3,"12,009","2,985",1,"8,004","1,730"

In [46]:
#Visualizando oficinas.csv

oficinas.head()

,AÑO,Unnamed: 1,2019,Unnamed: 3,Unnamed: 4,2020,Unnamed: 6,Unnamed: 7,2021,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,ÁMBITO,REPRESENTACIÓN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MIGRATORIO,ALBUQUERQUE,1,260,173,2,162,59,1,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,ATLANTA,0,660,285,2,287,164,NaN,146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,AUSTIN,1,690,429,1,171,144,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,BOISE,0,82,63,3,62,47,NaN,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
#Visualizando edo_origen.csv

edo_origen.head()

,AÑO,Unnamed: 1,Unnamed: 2,2019,Unnamed: 4,Unnamed: 5,2020,Unnamed: 7,Unnamed: 8,2021,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,EDO. ORIGEN,NaN,NaN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AGUASCALIENTES,NaN,NaN,1,815,184,0,785,89,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAJA CALIFORNIA,NaN,NaN,1,894,316,0,943,215,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAJA CALIFORNIA SUR,NaN,NaN,0,41,23,0,31,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CAMPECHE,NaN,NaN,1,255,46,1,266,21,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
#Visualizando rango_edad.csv

rango_edad.head()

,AÑO,2019,Unnamed: 2,Unnamed: 3,2020,Unnamed: 5,Unnamed: 6,2021,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,Grupo de edad,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,De 00 a 17 años,50,"7,375","1,985",15,"5,569","1,326",1,"11,737","2,128",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,De 18 a 25 años,78,"20,381","4,514",57,"18,793","2,827",11,"10,538","1,903",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,De 26 a 35 años,143,"32,117","5,733",82,"27,261","3,425",7,"11,122","2,021",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,De 36 a 45 años,93,"24,630","5,599",40,"19,468","2,513",7,"8,729","1,570",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

A simple vista resaltan las áreas de mejora de los dataframes que se mencionaron en un inicio: 


*   Filas de encabezados incorrectas
*   Procesamiento de NaNs
*   Tipos de dato incorrectos
*   Columnas innecesarias para nuestro planteamiento inicial


Sin embargo, observamos el resumen de cada uno de ellos para conocerlos más a fondo con ayuda de la función "info":

In [49]:
#Resumen de los dataframes - casos
print("Dataframe de casos")
print(casos.info())

Dataframe de casos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AÑO          2 non-null      object
 1   Unnamed: 1   17 non-null     object
 2   2010         12 non-null     object
 3   Unnamed: 3   16 non-null     object
 4   Unnamed: 4   16 non-null     object
 5   2011         11 non-null     object
 6   Unnamed: 6   16 non-null     object
 7   Unnamed: 7   16 non-null     object
 8   2012         10 non-null     object
 9   Unnamed: 9   16 non-null     object
 10  Unnamed: 10  16 non-null     object
 11  2013         8 non-null      object
 12  Unnamed: 12  16 non-null     object
 13  Unnamed: 13  16 non-null     object
 14  2014         9 non-null      object
 15  Unnamed: 15  16 non-null     object
 16  Unnamed: 16  16 non-null     object
 17  2015         12 non-null     object
 18  Unnamed: 18  16 non-null     object
 19  Unnamed: 19  16 non-null     object
 20  2016         10 non-null     object
 21  Unnamed: 21  16 non-null     object
 22  Unnamed: 22  16 non-null     object
 23  2017         12 non-null     object
 24  Unnamed: 24  16 non-null     object
 25  Unnamed: 25  16 non-null     object
 26  2018         4 non-null      object
 27  Unnamed: 27  16 non-null     object
 28  Unnamed: 28  16 non-null     object
 29  2019         13 non-null     object
 30  Unnamed: 30  16 non-null     object
 31  Unnamed: 31  16 non-null     object
 32  2020         12 non-null     object
 33  Unnamed: 33  16 non-null     object
 34  Unnamed: 34  16 non-null     object
 35  2021         9 non-null      object
 36  Unnamed: 36  16 non-null     object
 37  Unnamed: 37  16 non-null     object
 38  * 2022       8 non-null      object
 39  Unnamed: 39  17 non-null     object
 40  Unnamed: 40  16 non-null     object
dtypes: object(41)
memory usage: 5.6+ KB
None

In [50]:
#Resumen de los dataframes - oficinas
print("Dataframe de oficinas")
print(oficinas.info())

Dataframe de oficinas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AÑO          2 non-null      object
 1   Unnamed: 1   52 non-null     object
 2   2019         52 non-null     object
 3   Unnamed: 3   52 non-null     object
 4   Unnamed: 4   52 non-null     object
 5   2020         52 non-null     object
 6   Unnamed: 6   52 non-null     object
 7   Unnamed: 7   52 non-null     object
 8   2021         24 non-null     object
 9   Unnamed: 9   52 non-null     object
 10  Unnamed: 10  52 non-null     object
 11  * 2022       14 non-null     object
 12  Unnamed: 12  52 non-null     object
 13  Unnamed: 13  52 non-null     object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
 26  Unnamed: 26  0 non-null      float64
 27  Unnamed: 27  0 non-null      float64
 28  Unnamed: 28  0 non-null      float64
 29  Unnamed: 29  0 non-null      float64
 30  Unnamed: 30  0 non-null      float64
 31  Unnamed: 31  0 non-null      float64
 32  Unnamed: 32  0 non-null      float64
 33  Unnamed: 33  0 non-null      float64
 34  Unnamed: 34  0 non-null      float64
 35  Unnamed: 35  0 non-null      float64
 36  Unnamed: 36  0 non-null      float64
 37  Unnamed: 37  0 non-null      float64
 38  Unnamed: 38  0 non-null      float64
 39  Unnamed: 39  0 non-null      float64
 40  Unnamed: 40  0 non-null      float64
dtypes: float64(27), object(14)
memory usage: 16.8+ KB
None

In [51]:
#Resumen de los dataframes - estado de origen
print("Dataframe de estado de origen")
print(edo_origen.info())

Dataframe de estado de origen
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AÑO          36 non-null     object
 1   Unnamed: 1   0 non-null      float64
 2   Unnamed: 2   0 non-null      float64
 3   2019         36 non-null     object
 4   Unnamed: 4   36 non-null     object
 5   Unnamed: 5   36 non-null     object
 6   2020         36 non-null     object
 7   Unnamed: 7   36 non-null     object
 8   Unnamed: 8   36 non-null     object
 9   2021         15 non-null     object
 10  Unnamed: 10  36 non-null     object
 11  Unnamed: 11  36 non-null     object
 12  * 2022       15 non-null     object
 13  Unnamed: 13  36 non-null     object
 14  Unnamed: 14  36 non-null     object
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
 26  Unnamed: 26  0 non-null      float64
 27  Unnamed: 27  0 non-null      float64
 28  Unnamed: 28  0 non-null      float64
 29  Unnamed: 29  0 non-null      float64
 30  Unnamed: 30  0 non-null      float64
 31  Unnamed: 31  0 non-null      float64
 32  Unnamed: 32  0 non-null      float64
 33  Unnamed: 33  0 non-null      float64
 34  Unnamed: 34  0 non-null      float64
 35  Unnamed: 35  0 non-null      float64
 36  Unnamed: 36  0 non-null      float64
 37  Unnamed: 37  0 non-null      float64
 38  Unnamed: 38  0 non-null      float64
 39  Unnamed: 39  0 non-null      float64
 40  Unnamed: 40  0 non-null      float64
dtypes: float64(28), object(13)
memory usage: 16.8+ KB
None

In [52]:
#Resumen de los dataframes - rango de edad
print("Dataframe de rango de edad")
print(rango_edad.info())

Dataframe de rango de edad
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AÑO          11 non-null     object
 1   2019         11 non-null     object
 2   Unnamed: 2   11 non-null     object
 3   Unnamed: 3   11 non-null     object
 4   2020         11 non-null     object
 5   Unnamed: 5   11 non-null     object
 6   Unnamed: 6   11 non-null     object
 7   2021         11 non-null     object
 8   Unnamed: 8   11 non-null     object
 9   Unnamed: 9   11 non-null     object
 10  * 2022       11 non-null     object
 11  Unnamed: 11  11 non-null     object
 12  Unnamed: 12  11 non-null     object
 13  Unnamed: 13  0 non-null      float64
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
 26  Unnamed: 26  0 non-null      float64
 27  Unnamed: 27  0 non-null      float64
 28  Unnamed: 28  0 non-null      float64
 29  Unnamed: 29  0 non-null      float64
 30  Unnamed: 30  0 non-null      float64
 31  Unnamed: 31  0 non-null      float64
 32  Unnamed: 32  0 non-null      float64
 33  Unnamed: 33  0 non-null      float64
 34  Unnamed: 34  0 non-null      float64
 35  Unnamed: 35  0 non-null      float64
 36  Unnamed: 36  0 non-null      float64
 37  Unnamed: 37  0 non-null      float64
 38  Unnamed: 38  0 non-null      float64
 39  Unnamed: 39  0 non-null      float64
 40  Unnamed: 40  0 non-null      float64
dtypes: float64(28), object(13)
memory usage: 16.8+ KB
None

Está función nos arroja información sobre el tipo de datos, el nombre de las columnas, y la cantidad de registros y de no-nulls de un dataframe. Consideramos que esta función es suficiente para conocer la estructura de nuestro dataset, pero las dimensiones del mismo no son tan visibles. Por lo que utilizamos también la función "shape":

In [53]:
#Dimensiones
print(casos.shape)
print(oficinas.shape)
print(edo_origen.shape)
print(rango_edad.shape)

(17, 41)
(52, 41)
(52, 41)
(52, 41)

A pesar de haber realizado la separación del archivo .csv original en cuatro distintos, los datos siguen estando sucios en demasía. Contienen bastantes datos NotaNumber (NaN), los encabezados no están definidos, la mayoría de tipos de datos son objetos, y hay filas y columnas innecesarias.

Así, procedemos a la limpieza de los datos.

---
##E. Limpieza del DataFrame (Postwork 5) y transformación de datos (Postwork 7)

Ambas partes del proceso van tan de la mano, que decidimos unirlas en un solo apartado. Eso sí, están seccionadas para facilitar la lectura.

###E.1 Encabezados
Para comenzar, arreglaremos las filas de encabezado, ya que nos sería imposible realizar cualquier análisis sobre los datos de esta manera.

Si recurrimos a los archivos desde una hoja de cálculo, notamos que esto se debe a que en realidad tienen dos encabezados, y todos los .csv que creamos siguen el mismo patrón:

![Patrón de encabezado.png](https://github.com/JuanMaLR/bedu-equipo4-dataScience-P-FP/blob/main/images/pattern.png?raw=true)

Decidimos unir ambas filas para simplificar el dataframe colocando nb (no binario) para DESC., h para HOMBRE y m para MUJER, seguido del año en que se realizó el registro. Por ejemplo: h_2010.

Con el fin de no realizarlo "a mano" (y porque es un detalle que se repite en todos los dataframes), crearemos una función y la reciclaremos. 

Sin embargo, antes de hacer esto será necesario que los 4 dataframes tengan la misma estructura para que nuestra función pueda aplicarse sin problema.

####E.1.1 Visualización de columnas irrelevantes
Si recordamos, al visualizar el "head" de nuestros 4 dataframes en el punto anterior (D. AED), pudimos notar que los dataframes de casos y oficinas tienen una primera columna que en filas 0 y 1 muestran "ámbito" y "migratorio", respectivamente, pero el resto de la columna son puros NaNs. 

Esta columna no aporta información, por lo tanto la eliminaremos.

In [54]:
#Para visualizar el dataframe de casos
casos.head(10)

,AÑO,Unnamed: 1,2010,Unnamed: 3,Unnamed: 4,2011,Unnamed: 6,Unnamed: 7,2012,Unnamed: 9,...,Unnamed: 31,2020,Unnamed: 33,Unnamed: 34,2021,Unnamed: 36,Unnamed: 37,* 2022,Unnamed: 39,Unnamed: 40
0,ÁMBITO,RUBRO DE PROTECCIÓN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,...,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER
1,MIGRATORIO,"INCIDENTES, MÚLTIPLES INVOLUCRADOS (MIGRATORIO)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,1
2,NaN,MENOR PROCESADO BAJO LEY TVPRA,1,373,135,NaN,375,112,NaN,357,...,312,1,230,128,2,726,526,2,467,359
3,NaN,ORIENTACIóN GENERAL SOBRE CONSULTAS MIGRATORIA...,2,"1,734","1,472",6,"1,844","1,885",4,"1,687",...,"7,948",7,"2,584","2,451",4,"2,229","1,115",2,693,852
4,NaN,OTROS CASOS DEL áMBITO MIGRATORIO,10,"4,423","1,026",6,"8,073","1,129",11,"8,545",...,"6,519",142,"20,194","3,248",3,"12,009","2,985",1,"8,004","1,730"
5,NaN,PERMISOS DE INTERNACIóN POR RAZONES HUMANITARIAS,6,"1,143","1,352",NaN,"1,096","1,403",1,902,...,"1,045",NaN,510,556,NaN,445,476,NaN,126,199
6,NaN,PROCESOS JUDICIALES MIGRATORIOS DE REMOCIóN,16,"10,455","1,174",18,"18,514","1,413",26,"49,479",...,"5,339",64,"48,940","4,564",12,"14,908","1,560",9,"8,722","1,006"
7,NaN,PROCESOS JUDICIALES MIGRATORIOS DE RESIDENCIA,NaN,339,413,1,775,304,1,260,...,325,4,580,231,NaN,734,296,NaN,"1,028",83
8,NaN,REMOCIóN EXPEDITA EN PUERTOS DE ENTRADA,41,"21,203","3,897",2,"32,763","1,428",2,"32,491",...,695,5,"2,136",535,2,"2,286",825,3,564,258
9,NaN,REPATRIACIóN DE ENFERMOS EN PROCESOS DE REMOCIóN,NaN,178,25,53,158,14,NaN,156,...,8,1,171,10,NaN,25,2,NaN,12,2

In [55]:
#Para visualizar el dataframe de oficinas
oficinas.head(10)

,AÑO,Unnamed: 1,2019,Unnamed: 3,Unnamed: 4,2020,Unnamed: 6,Unnamed: 7,2021,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,ÁMBITO,REPRESENTACIÓN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MIGRATORIO,ALBUQUERQUE,1,260,173,2,162,59,1,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,ATLANTA,0,660,285,2,287,164,NaN,146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,AUSTIN,1,690,429,1,171,144,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,BOISE,0,82,63,3,62,47,NaN,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,BOSTON,0,61,16,0,16,12,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,BROWNSVILLE,1,"4,899",484,2,"4,624",323,1,"1,279",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,CALEXICO,15,"6,242","1,302",1,"6,059",491,2,"2,026",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,CHICAGO,1,"3,078",781,2,"1,586",472,2,"1,111",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,DALLAS,4,"3,085","1,347",10,"5,651",521,1,"2,934",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

####E.1.2 Eliminación de columnas irrelevantes
Con la visualización anterior se puede apreciar que la columna "Año" es la que debe ser eliminada de ambos dataframes

In [56]:
#Eliminamos columna sin datos relevantes
casos.drop(columns='AÑO', inplace=True)
casos.head(10)

,Unnamed: 1,2010,Unnamed: 3,Unnamed: 4,2011,Unnamed: 6,Unnamed: 7,2012,Unnamed: 9,Unnamed: 10,...,Unnamed: 31,2020,Unnamed: 33,Unnamed: 34,2021,Unnamed: 36,Unnamed: 37,* 2022,Unnamed: 39,Unnamed: 40
0,RUBRO DE PROTECCIÓN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,...,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER
1,"INCIDENTES, MÚLTIPLES INVOLUCRADOS (MIGRATORIO)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,1
2,MENOR PROCESADO BAJO LEY TVPRA,1,373,135,NaN,375,112,NaN,357,194,...,312,1,230,128,2,726,526,2,467,359
3,ORIENTACIóN GENERAL SOBRE CONSULTAS MIGRATORIA...,2,"1,734","1,472",6,"1,844","1,885",4,"1,687","1,789",...,"7,948",7,"2,584","2,451",4,"2,229","1,115",2,693,852
4,OTROS CASOS DEL áMBITO MIGRATORIO,10,"4,423","1,026",6,"8,073","1,129",11,"8,545","6,359",...,"6,519",142,"20,194","3,248",3,"12,009","2,985",1,"8,004","1,730"
5,PERMISOS DE INTERNACIóN POR RAZONES HUMANITARIAS,6,"1,143","1,352",NaN,"1,096","1,403",1,902,"1,084",...,"1,045",NaN,510,556,NaN,445,476,NaN,126,199
6,PROCESOS JUDICIALES MIGRATORIOS DE REMOCIóN,16,"10,455","1,174",18,"18,514","1,413",26,"49,479","1,172",...,"5,339",64,"48,940","4,564",12,"14,908","1,560",9,"8,722","1,006"
7,PROCESOS JUDICIALES MIGRATORIOS DE RESIDENCIA,NaN,339,413,1,775,304,1,260,212,...,325,4,580,231,NaN,734,296,NaN,"1,028",83
8,REMOCIóN EXPEDITA EN PUERTOS DE ENTRADA,41,"21,203","3,897",2,"32,763","1,428",2,"32,491",94,...,695,5,"2,136",535,2,"2,286",825,3,564,258
9,REPATRIACIóN DE ENFERMOS EN PROCESOS DE REMOCIóN,NaN,178,25,53,158,14,NaN,156,23,...,8,1,171,10,NaN,25,2,NaN,12,2

In [57]:
#Eliminamos columna sin datos relevantes
oficinas.drop(columns='AÑO', inplace=True)
oficinas.head(10)

,Unnamed: 1,2019,Unnamed: 3,Unnamed: 4,2020,Unnamed: 6,Unnamed: 7,2021,Unnamed: 9,Unnamed: 10,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,REPRESENTACIÓN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALBUQUERQUE,1,260,173,2,162,59,1,47,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ATLANTA,0,660,285,2,287,164,NaN,146,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AUSTIN,1,690,429,1,171,144,NaN,91,75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BOISE,0,82,63,3,62,47,NaN,16,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BOSTON,0,61,16,0,16,12,NaN,15,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,BROWNSVILLE,1,"4,899",484,2,"4,624",323,1,"1,279",152,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,CALEXICO,15,"6,242","1,302",1,"6,059",491,2,"2,026",262,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,CHICAGO,1,"3,078",781,2,"1,586",472,2,"1,111",601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,DALLAS,4,"3,085","1,347",10,"5,651",521,1,"2,934",277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

####E.1.3 Eliminación de columnas llenas de NaN
Ahora, si prestamos atención al dataset de edo_origen veremos que, tras la primer columna, contiene dos columnas vacías ("Unnamed: 1" y "Unnamed: 2"). Las eliminamos.

In [58]:
#Observamos las columans de "Unnamed: 1" y "Unnamed: 2" que contienen puros NaNs
edo_origen.head(10)

,AÑO,Unnamed: 1,Unnamed: 2,2019,Unnamed: 4,Unnamed: 5,2020,Unnamed: 7,Unnamed: 8,2021,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,EDO. ORIGEN,NaN,NaN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AGUASCALIENTES,NaN,NaN,1,815,184,0,785,89,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAJA CALIFORNIA,NaN,NaN,1,894,316,0,943,215,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAJA CALIFORNIA SUR,NaN,NaN,0,41,23,0,31,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CAMPECHE,NaN,NaN,1,255,46,1,266,21,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CHIAPAS,NaN,NaN,67,"4,437","1,159",21,"4,413",673,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,CHIHUAHUA,NaN,NaN,9,"2,353",875,0,"1,549",343,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,CIUDAD DE MÉXICO,NaN,NaN,16,"2,519","1,072",6,"1,762",567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,COAHUILA,NaN,NaN,3,"1,137",574,0,566,157,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,COLIMA,NaN,NaN,5,303,115,2,261,50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
#No usamos dropna para experimentar con otro método y reafirmar el concepto de "columna"
edo_origen.drop(columns=['Unnamed: 1', 'Unnamed: 2'], inplace=True)
edo_origen.head(10)

,AÑO,2019,Unnamed: 4,Unnamed: 5,2020,Unnamed: 7,Unnamed: 8,2021,Unnamed: 10,Unnamed: 11,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,EDO. ORIGEN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AGUASCALIENTES,1,815,184,0,785,89,NaN,429,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAJA CALIFORNIA,1,894,316,0,943,215,1,610,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAJA CALIFORNIA SUR,0,41,23,0,31,8,NaN,22,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CAMPECHE,1,255,46,1,266,21,NaN,162,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CHIAPAS,67,"4,437","1,159",21,"4,413",673,2,"3,649",551,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,CHIHUAHUA,9,"2,353",875,0,"1,549",343,2,"1,459",279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,CIUDAD DE MÉXICO,16,"2,519","1,072",6,"1,762",567,NaN,909,438,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,COAHUILA,3,"1,137",574,0,566,157,NaN,500,109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,COLIMA,5,303,115,2,261,50,NaN,136,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Dentro del mismo dataset de estado de origen ("edo_origen"), vamos ahora a observar las columnas de la derecha.

In [60]:
edo_origen.loc[:, 'Unnamed: 11':'Unnamed: 40'].head(10)

,Unnamed: 11,* 2022,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,MUJER,DESC.,HOMBRE,MUJER,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65,NaN,228,28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,155,1,298,80,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,NaN,20,11,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17,NaN,66,20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,551,3,"2,498",445,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,279,NaN,835,131,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,438,1,504,238,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,109,NaN,328,56,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,43,NaN,63,24,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Como se puede observar, a partir de la columna "Unnamed: 15" hasta la columna "Unnamed: 40" se tienen puros NaNs en los datos. Por lo tanto, podemos eliminar estas columnas.

In [61]:
#No usamos dropna para experimentar con otro método y reafirmar el concepto de "columna"
columnas_edo_origen_a_eliminar = edo_origen.loc[:, 'Unnamed: 15':'Unnamed: 40'].columns
edo_origen.drop(columns=columnas_edo_origen_a_eliminar, inplace=True)
edo_origen.head(10)

,AÑO,2019,Unnamed: 4,Unnamed: 5,2020,Unnamed: 7,Unnamed: 8,2021,Unnamed: 10,Unnamed: 11,* 2022,Unnamed: 13,Unnamed: 14
0,EDO. ORIGEN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER
1,AGUASCALIENTES,1,815,184,0,785,89,NaN,429,65,NaN,228,28
2,BAJA CALIFORNIA,1,894,316,0,943,215,1,610,155,1,298,80
3,BAJA CALIFORNIA SUR,0,41,23,0,31,8,NaN,22,9,NaN,20,11
4,CAMPECHE,1,255,46,1,266,21,NaN,162,17,NaN,66,20
5,CHIAPAS,67,"4,437","1,159",21,"4,413",673,2,"3,649",551,3,"2,498",445
6,CHIHUAHUA,9,"2,353",875,0,"1,549",343,2,"1,459",279,NaN,835,131
7,CIUDAD DE MÉXICO,16,"2,519","1,072",6,"1,762",567,NaN,909,438,1,504,238
8,COAHUILA,3,"1,137",574,0,566,157,NaN,500,109,NaN,328,56
9,COLIMA,5,303,115,2,261,50,NaN,136,43,NaN,63,24

En el caso del dataset de "rango_edad", sucede algo similar que con "edo_origen". Las columnas a la derecha de "Unnamed: 12" están vacías.

Se eliminan.

In [62]:
rango_edad.loc[:, 'Unnamed: 11':'Unnamed: 40'].head(10)

,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,HOMBRE,MUJER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"7,288","1,325",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"4,541",995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"6,208","1,154",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"4,986",828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"2,125",588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,684,222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,119,87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,32,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"1,875",325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
#No usamos dropna para experimentar con otro método y reafirmar el concepto de "columna"
columnas_rango_edad_a_eliminar = rango_edad.loc[:, 'Unnamed: 13':'Unnamed: 40'].columns
rango_edad.drop(columns=columnas_rango_edad_a_eliminar, inplace=True)
rango_edad.head(10)

,AÑO,2019,Unnamed: 2,Unnamed: 3,2020,Unnamed: 5,Unnamed: 6,2021,Unnamed: 8,Unnamed: 9,* 2022,Unnamed: 11,Unnamed: 12
0,Grupo de edad,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER
1,De 00 a 17 años,50,"7,375","1,985",15,"5,569","1,326",1,"11,737","2,128",8,"7,288","1,325"
2,De 18 a 25 años,78,"20,381","4,514",57,"18,793","2,827",11,"10,538","1,903",5,"4,541",995
3,De 26 a 35 años,143,"32,117","5,733",82,"27,261","3,425",7,"11,122","2,021",2,"6,208","1,154"
4,De 36 a 45 años,93,"24,630","5,599",40,"19,468","2,513",7,"8,729","1,570",5,"4,986",828
5,De 46 a 55 años,48,"10,254","3,492",17,"7,845","1,555",2,"4,143","1,052",4,"2,125",588
6,De 56 a 65 años,12,"2,646","1,240",2,"1,773",532,1,"1,044",400,1,684,222
7,De 66 a 75 años,9,597,369,0,385,197,0,225,150,0,119,87
8,Más de 75 años,5,191,188,0,91,89,0,76,81,0,32,36
9,Se desconoce Edad,15,"2,146",595,31,"1,864",418,10,"1,494",376,2,"1,875",325

De igual manera, en el caso del dataset de "oficinas", las columnas a la derecha de "Unnamed: 13" están vacías. Hacemos lo mismo.

In [64]:
oficinas.loc[:, 'Unnamed: 12':'Unnamed: 38'].head(10)

,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,HOMBRE,MUJER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,75,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,129,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,38,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,11,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"1,936",202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,409,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,430,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"1,095",41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
#No usamos dropna para experimentar con otro método y reafirmar el concepto de "columna"
columnas_oficinas_a_eliminar = oficinas.loc[:, 'Unnamed: 14':'Unnamed: 40'].columns
oficinas.drop(columns=columnas_oficinas_a_eliminar, inplace=True)
oficinas.head(10)

,Unnamed: 1,2019,Unnamed: 3,Unnamed: 4,2020,Unnamed: 6,Unnamed: 7,2021,Unnamed: 9,Unnamed: 10,* 2022,Unnamed: 12,Unnamed: 13
0,REPRESENTACIÓN,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER,DESC.,HOMBRE,MUJER
1,ALBUQUERQUE,1,260,173,2,162,59,1,47,13,NaN,11,6
2,ATLANTA,0,660,285,2,287,164,NaN,146,78,NaN,75,55
3,AUSTIN,1,690,429,1,171,144,NaN,91,75,NaN,129,98
4,BOISE,0,82,63,3,62,47,NaN,16,25,NaN,38,17
5,BOSTON,0,61,16,0,16,12,NaN,15,4,NaN,11,3
6,BROWNSVILLE,1,"4,899",484,2,"4,624",323,1,"1,279",152,2,"1,936",202
7,CALEXICO,15,"6,242","1,302",1,"6,059",491,2,"2,026",262,NaN,409,98
8,CHICAGO,1,"3,078",781,2,"1,586",472,2,"1,111",601,4,430,142
9,DALLAS,4,"3,085","1,347",10,"5,651",521,1,"2,934",277,NaN,"1,095",41

####E.1.4 Función para corregir encabezados
Ahora sí, procedemos a crear la función para fusionar las dos filas iniciales de los dataframes en un encabezado.

In [66]:
def arregla_columnas(dataset_a_modificar):
  encabezados = []
  columna = ""

  encabezados.append(dataset_a_modificar.iloc[0][0])

  for i in range(1, dataset_a_modificar.shape[1], 3):
    columna = dataset_a_modificar.columns[i]
    
    #Para eliminar el asterisco
    if "* " in columna:
      columna = columna.replace("* ", "")

    #Para desc
    encabezados.append('nb_' + columna)
    #Para hombre
    encabezados.append('h_' + columna)
    #Para mujer
    encabezados.append('m_' + columna)

  return encabezados

Con la función definida, realizamos el ajuste de los encabezados en los 4 datasets.

In [67]:
#Para el dataset de casos
casos.columns = arregla_columnas(casos)
casos.drop(index=0, inplace=True)
casos.head(10)

,RUBRO DE PROTECCIÓN,nb_2010,h_2010,m_2010,nb_2011,h_2011,m_2011,nb_2012,h_2012,m_2012,...,m_2019,nb_2020,h_2020,m_2020,nb_2021,h_2021,m_2021,nb_2022,h_2022,m_2022
1,"INCIDENTES, MÚLTIPLES INVOLUCRADOS (MIGRATORIO)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,1
2,MENOR PROCESADO BAJO LEY TVPRA,1,373,135,NaN,375,112,NaN,357,194,...,312,1,230,128,2,726,526,2,467,359
3,ORIENTACIóN GENERAL SOBRE CONSULTAS MIGRATORIA...,2,"1,734","1,472",6,"1,844","1,885",4,"1,687","1,789",...,"7,948",7,"2,584","2,451",4,"2,229","1,115",2,693,852
4,OTROS CASOS DEL áMBITO MIGRATORIO,10,"4,423","1,026",6,"8,073","1,129",11,"8,545","6,359",...,"6,519",142,"20,194","3,248",3,"12,009","2,985",1,"8,004","1,730"
5,PERMISOS DE INTERNACIóN POR RAZONES HUMANITARIAS,6,"1,143","1,352",NaN,"1,096","1,403",1,902,"1,084",...,"1,045",NaN,510,556,NaN,445,476,NaN,126,199
6,PROCESOS JUDICIALES MIGRATORIOS DE REMOCIóN,16,"10,455","1,174",18,"18,514","1,413",26,"49,479","1,172",...,"5,339",64,"48,940","4,564",12,"14,908","1,560",9,"8,722","1,006"
7,PROCESOS JUDICIALES MIGRATORIOS DE RESIDENCIA,NaN,339,413,1,775,304,1,260,212,...,325,4,580,231,NaN,734,296,NaN,"1,028",83
8,REMOCIóN EXPEDITA EN PUERTOS DE ENTRADA,41,"21,203","3,897",2,"32,763","1,428",2,"32,491",94,...,695,5,"2,136",535,2,"2,286",825,3,564,258
9,REPATRIACIóN DE ENFERMOS EN PROCESOS DE REMOCIóN,NaN,178,25,53,158,14,NaN,156,23,...,8,1,171,10,NaN,25,2,NaN,12,2
10,"REPATRIACIóN DE ENFERMOS, PERSONAS ACCIDENTADA...",1,727,327,1,643,297,NaN,797,331,...,122,1,331,101,3,551,156,NaN,144,55

In [68]:
#Para el dataset de oficinas
oficinas.columns = arregla_columnas(oficinas)
oficinas.drop(index=0, inplace=True)
oficinas.head(10)

,REPRESENTACIÓN,nb_2019,h_2019,m_2019,nb_2020,h_2020,m_2020,nb_2021,h_2021,m_2021,nb_2022,h_2022,m_2022
1,ALBUQUERQUE,1,260,173,2,162,59,1,47,13,NaN,11,6
2,ATLANTA,0,660,285,2,287,164,NaN,146,78,NaN,75,55
3,AUSTIN,1,690,429,1,171,144,NaN,91,75,NaN,129,98
4,BOISE,0,82,63,3,62,47,NaN,16,25,NaN,38,17
5,BOSTON,0,61,16,0,16,12,NaN,15,4,NaN,11,3
6,BROWNSVILLE,1,"4,899",484,2,"4,624",323,1,"1,279",152,2,"1,936",202
7,CALEXICO,15,"6,242","1,302",1,"6,059",491,2,"2,026",262,NaN,409,98
8,CHICAGO,1,"3,078",781,2,"1,586",472,2,"1,111",601,4,430,142
9,DALLAS,4,"3,085","1,347",10,"5,651",521,1,"2,934",277,NaN,"1,095",41
10,DEL RIO,3,"1,833",130,0,504,40,NaN,281,48,NaN,224,50

In [69]:
#Para el dataset de estado de origen
edo_origen.columns = arregla_columnas(edo_origen)
edo_origen.drop(index=0, inplace=True)
edo_origen.head(10)

,EDO. ORIGEN,nb_2019,h_2019,m_2019,nb_2020,h_2020,m_2020,nb_2021,h_2021,m_2021,nb_2022,h_2022,m_2022
1,AGUASCALIENTES,1,815,184,0,785,89,NaN,429,65,NaN,228,28
2,BAJA CALIFORNIA,1,894,316,0,943,215,1,610,155,1,298,80
3,BAJA CALIFORNIA SUR,0,41,23,0,31,8,NaN,22,9,NaN,20,11
4,CAMPECHE,1,255,46,1,266,21,NaN,162,17,NaN,66,20
5,CHIAPAS,67,"4,437","1,159",21,"4,413",673,2,"3,649",551,3,"2,498",445
6,CHIHUAHUA,9,"2,353",875,0,"1,549",343,2,"1,459",279,NaN,835,131
7,CIUDAD DE MÉXICO,16,"2,519","1,072",6,"1,762",567,NaN,909,438,1,504,238
8,COAHUILA,3,"1,137",574,0,566,157,NaN,500,109,NaN,328,56
9,COLIMA,5,303,115,2,261,50,NaN,136,43,NaN,63,24
10,DURANGO,8,"1,292",404,1,826,185,NaN,569,127,NaN,299,84

In [70]:
#Para el dataset de rango de edad
rango_edad.columns = arregla_columnas(rango_edad)
rango_edad.drop(index=0, inplace=True)
rango_edad.head(10)

,Grupo de edad,nb_2019,h_2019,m_2019,nb_2020,h_2020,m_2020,nb_2021,h_2021,m_2021,nb_2022,h_2022,m_2022
1,De 00 a 17 años,50,"7,375","1,985",15,"5,569","1,326",1,"11,737","2,128",8,"7,288","1,325"
2,De 18 a 25 años,78,"20,381","4,514",57,"18,793","2,827",11,"10,538","1,903",5,"4,541",995
3,De 26 a 35 años,143,"32,117","5,733",82,"27,261","3,425",7,"11,122","2,021",2,"6,208","1,154"
4,De 36 a 45 años,93,"24,630","5,599",40,"19,468","2,513",7,"8,729","1,570",5,"4,986",828
5,De 46 a 55 años,48,"10,254","3,492",17,"7,845","1,555",2,"4,143","1,052",4,"2,125",588
6,De 56 a 65 años,12,"2,646","1,240",2,"1,773",532,1,"1,044",400,1,684,222
7,De 66 a 75 años,9,597,369,0,385,197,0,225,150,0,119,87
8,Más de 75 años,5,191,188,0,91,89,0,76,81,0,32,36
9,Se desconoce Edad,15,"2,146",595,31,"1,864",418,10,"1,494",376,2,"1,875",325
10,TOTAL,453,"100,337","23,715",244,"83,049","12,882",39,"49,108","9,681",27,"27,858","5,560"

###E.2 Establecer índices
Ahora, estableceremos los índices de nuestros datasets con el contenido de la primera columna de los mismos.

In [71]:
casos.set_index('RUBRO DE PROTECCIÓN', inplace=True, drop=True)
casos

,nb_2010,h_2010,m_2010,nb_2011,h_2011,m_2011,nb_2012,h_2012,m_2012,nb_2013,...,m_2019,nb_2020,h_2020,m_2020,nb_2021,h_2021,m_2021,nb_2022,h_2022,m_2022
RUBRO DE PROTECCIÓN,,,,,,,,,,,,,,,,,,,,,
"INCIDENTES, MÚLTIPLES INVOLUCRADOS (MIGRATORIO)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,1
MENOR PROCESADO BAJO LEY TVPRA,1,373,135,NaN,375,112,NaN,357,194,NaN,...,312,1,230,128,2,726,526,2,467,359
ORIENTACIóN GENERAL SOBRE CONSULTAS MIGRATORIAS Y/O TRáMITES DE RESIDENCIA,2,"1,734","1,472",6,"1,844","1,885",4,"1,687","1,789",4,...,"7,948",7,"2,584","2,451",4,"2,229","1,115",2,693,852
OTROS CASOS DEL áMBITO MIGRATORIO,10,"4,423","1,026",6,"8,073","1,129",11,"8,545","6,359",11,...,"6,519",142,"20,194","3,248",3,"12,009","2,985",1,"8,004","1,730"
PERMISOS DE INTERNACIóN POR RAZONES HUMANITARIAS,6,"1,143","1,352",NaN,"1,096","1,403",1,902,"1,084",2,...,"1,045",NaN,510,556,NaN,445,476,NaN,126,199
PROCESOS JUDICIALES MIGRATORIOS DE REMOCIóN,16,"10,455","1,174",18,"18,514","1,413",26,"49,479","1,172",19,...,"5,339",64,"48,940","4,564",12,"14,908","1,560",9,"8,722","1,006"
PROCESOS JUDICIALES MIGRATORIOS DE RESIDENCIA,NaN,339,413,1,775,304,1,260,212,NaN,...,325,4,580,231,NaN,734,296,NaN,"1,028",83
REMOCIóN EXPEDITA EN PUERTOS DE ENTRADA,41,"21,203","3,897",2,"32,763","1,428",2,"32,491",94,1,...,695,5,"2,136",535,2,"2,286",825,3,564,258
REPATRIACIóN DE ENFERMOS EN PROCESOS DE REMOCIóN,NaN,178,25,53,158,14,NaN,156,23,NaN,...,8,1,171,10,NaN,25,2,NaN,12,2
"REPATRIACIóN DE ENFERMOS, PERSONAS ACCIDENTADAS O EN RIESGO EN SU INTENTO POR CRUZAR LA FRONTERA",1,727,327,1,643,297,NaN,797,331,NaN,...,122,1,331,101,3,551,156,NaN,144,55
REPATRIACIóN DE MENORES (POR ESTANCIA O INGRESO INDOCUMENTADO),21,"10,225","1,775",17,"7,739","1,411",26,"8,499","1,328",33,...,781,3,"5,343",661,3,"13,577","1,402",8,"7,323",849
REPATRIACIóN DE MENORES INFRACTORES (NO POR FALTAS MIGRATORIAS),NaN,505,62,1,293,37,1,288,35,NaN,...,8,NaN,76,6,NaN,36,3,NaN,84,8
REPATRIACIóN DE OTRAS PERSONAS VULNERABLES,3,"3,106",875,2,"2,551","1,076",NaN,"2,537","1,415",1,...,187,1,576,149,NaN,520,128,NaN,213,74
TESTIGOS DE CARGO,1,415,239,NaN,339,247,1,244,208,NaN,...,354,15,"1,230",216,10,"1,003",203,2,446,81
USO DE DOCUMENTOS FALSOS,2,73,46,NaN,57,51,NaN,32,15,NaN,...,14,NaN,8,4,NaN,9,3,NaN,8,3
VíCTIMAS DE FRAUDE MIGRATORIO,NaN,67,53,NaN,30,18,NaN,7,5,NaN,...,58,NaN,140,22,NaN,50,1,NaN,2,NaN

In [72]:
oficinas.set_index('REPRESENTACIÓN', inplace=True, drop=True)
oficinas

,nb_2019,h_2019,m_2019,nb_2020,h_2020,m_2020,nb_2021,h_2021,m_2021,nb_2022,h_2022,m_2022
REPRESENTACIÓN,,,,,,,,,,,,
ALBUQUERQUE,1,260,173,2,162,59,1,47,13,NaN,11,6
ATLANTA,0,660,285,2,287,164,NaN,146,78,NaN,75,55
AUSTIN,1,690,429,1,171,144,NaN,91,75,NaN,129,98
BOISE,0,82,63,3,62,47,NaN,16,25,NaN,38,17
BOSTON,0,61,16,0,16,12,NaN,15,4,NaN,11,3
BROWNSVILLE,1,"4,899",484,2,"4,624",323,1,"1,279",152,2,"1,936",202
CALEXICO,15,"6,242","1,302",1,"6,059",491,2,"2,026",262,NaN,409,98
CHICAGO,1,"3,078",781,2,"1,586",472,2,"1,111",601,4,430,142
DALLAS,4,"3,085","1,347",10,"5,651",521,1,"2,934",277,NaN,"1,095",41
DEL RIO,3,"1,833",130,0,504,40,NaN,281,48,NaN,224,50
DENVER,2,560,497,5,513,239,2,324,155,NaN,85,16
DETROIT,0,498,83,0,114,23,NaN,46,33,NaN,24,8
DOUGLAS,1,"1,871",373,0,"1,070",219,NaN,587,166,NaN,221,49
EAGLE PASS,2,774,307,0,332,31,1,"1,832",99,1,"1,246",68
EL PASO,0,"15,472","1,529",1,"9,814",901,2,"4,937",630,5,"3,025",466
FILADELFIA,3,"1,496",636,0,472,147,NaN,215,93,5,316,130
FRESNO,2,380,401,0,155,169,NaN,105,99,1,46,61
HOUSTON,55,"1,484",672,21,"2,915",999,NaN,"3,100",701,NaN,"1,592",403
INDIANAPOLIS,0,256,87,0,106,27,NaN,72,23,NaN,28,11
KANSAS CITY,0,205,89,1,103,39,NaN,30,39,NaN,31,8
LAREDO,7,"9,343","1,014",7,"7,467",880,6,"3,965",399,2,236,62
LAS VEGAS,0,256,250,1,182,130,NaN,62,32,NaN,34,63
LITTLE ROCK,1,713,256,0,247,82,NaN,52,19,NaN,22,7
LOS ANGELES,29,"3,476",865,2,"1,366",437,NaN,740,518,NaN,349,160
MC ALLEN,39,"17,724","1,757",154,"22,850","2,264",3,"12,481","1,561",NaN,"9,182","1,481"
MIAMI,1,589,279,0,100,58,NaN,97,56,NaN,21,23
MILWAUKEE,0,470,113,1,290,60,NaN,180,70,NaN,48,15
NOGALES,4,"2,180","1,312",0,"1,887",319,1,"2,581",380,3,"1,614",233
NUEVA ORLEANS,1,280,91,1,125,36,NaN,52,44,NaN,27,20
NUEVA YORK,2,"1,391",813,0,444,202,NaN,89,57,NaN,107,39
OMAHA,0,729,107,0,393,50,NaN,80,52,NaN,53,10
ORLANDO,0,140,60,0,43,35,NaN,60,56,NaN,3,14
OXNARD,1,381,325,0,256,187,NaN,143,122,NaN,126,98
PHOENIX,35,"1,168",904,2,430,263,1,496,519,NaN,368,326
PORTLAND,3,272,135,0,136,43,NaN,50,30,NaN,16,8
PRESIDIO,1,318,55,0,372,53,NaN,744,123,NaN,260,118
RALEIGH,0,"1,078",435,0,580,147,1,96,55,1,93,21
SACRAMENTO,4,390,477,4,56,94,1,57,65,NaN,20,44
SAINT PAUL,1,210,42,0,89,35,NaN,68,40,NaN,58,9
SALT LAKE CITY,0,300,166,0,196,55,2,154,62,1,49,13
SAN ANTONIO,6,"2,772",328,1,423,206,NaN,159,92,1,58,15
SAN BERNARDINO,4,"1,086",380,6,614,156,3,224,177,NaN,60,45
SAN DIEGO,2,"2,571",545,2,"5,435",620,2,"4,803",604,NaN,"2,214",326
SAN FRANCISCO,0,233,155,0,131,120,NaN,106,99,NaN,44,50
SAN JOSÉ,0,489,667,0,117,179,2,72,81,NaN,18,15
SANTA ANA,1,720,757,3,216,216,1,208,260,NaN,66,89
SEATTLE,2,254,172,2,170,103,NaN,76,75,NaN,26,21
TUCSON,214,"5,096",993,5,"2,422",444,1,"1,475",309,1,"1,330",228
WASHINGTON,2,592,181,1,122,40,1,104,31,NaN,76,28
YUMA,2,"1,230",397,1,"1,174",301,2,440,120,NaN,309,47
TOTAL,453,"100,337","23,715",244,"83,049","12,882",39,"49,108","9,681",27,"27,859","5,560"

In [73]:
edo_origen.set_index('EDO. ORIGEN', inplace=True, drop=True)
edo_origen

,nb_2019,h_2019,m_2019,nb_2020,h_2020,m_2020,nb_2021,h_2021,m_2021,nb_2022,h_2022,m_2022
EDO. ORIGEN,,,,,,,,,,,,
AGUASCALIENTES,1,815,184,0,785,89,NaN,429,65,NaN,228,28
BAJA CALIFORNIA,1,894,316,0,943,215,1,610,155,1,298,80
BAJA CALIFORNIA SUR,0,41,23,0,31,8,NaN,22,9,NaN,20,11
CAMPECHE,1,255,46,1,266,21,NaN,162,17,NaN,66,20
CHIAPAS,67,"4,437","1,159",21,"4,413",673,2,"3,649",551,3,"2,498",445
CHIHUAHUA,9,"2,353",875,0,"1,549",343,2,"1,459",279,NaN,835,131
CIUDAD DE MÉXICO,16,"2,519","1,072",6,"1,762",567,NaN,909,438,1,504,238
COAHUILA,3,"1,137",574,0,566,157,NaN,500,109,NaN,328,56
COLIMA,5,303,115,2,261,50,NaN,136,43,NaN,63,24
DURANGO,8,"1,292",404,1,826,185,NaN,569,127,NaN,299,84
EDO. MEXICO,7,"3,968",917,8,"3,304",632,1,"2,525",646,3,"1,022",279
GUANAJUATO,14,"5,425","1,194",7,"4,030",567,1,"2,031",413,2,"1,141",195
GUERRERO,29,"7,305","2,833",19,"5,866","1,316",2,"3,607","1,094",2,"1,849",606
HIDALGO,53,"2,094",387,3,"1,469",207,1,754,174,1,528,138
JALISCO,16,"3,449","1,198",3,"2,618",595,3,"1,471",452,1,698,195
MICHOACAN,27,"6,072","2,075",14,"5,107",890,6,"2,798",682,1,"1,586",319
MORELOS,16,"1,214",450,3,809,219,NaN,553,181,NaN,269,86
NACIDO EXTRANJERO,4,151,212,0,83,63,NaN,41,48,NaN,26,39
NAYARIT,3,809,216,1,731,104,NaN,339,77,NaN,193,39
NUEVO LEON,8,870,348,0,716,184,NaN,487,232,NaN,262,72
OAXACA,30,"5,251","1,441",5,"3,877",904,3,"2,590",646,2,"1,448",505
PUEBLA,21,"4,359","1,297",10,"3,583",586,NaN,"2,200",478,2,"1,321",295
QUERETARO,0,"1,115",104,1,990,54,NaN,401,41,NaN,213,28
QUINTANA ROO,1,134,26,0,106,16,NaN,60,11,NaN,42,19
SAN LUIS POTOSI,6,"2,653",512,5,"1,747",245,1,829,178,NaN,450,111
SINALOA,14,"1,720",345,6,"1,461",181,NaN,892,142,NaN,543,103
SONORA,14,"1,638",639,1,"1,158",257,NaN,846,223,NaN,501,95
TABASCO,4,455,114,3,495,62,NaN,360,72,NaN,391,47
TAMAULIPAS,12,"3,304",790,23,"4,296",603,NaN,"3,930",481,2,"1,681",304
TLAXCALA,1,342,140,0,301,50,NaN,135,63,NaN,133,45
VERACRUZ,12,"4,739",870,16,"4,385",592,NaN,"2,566",536,NaN,"1,732",408
YUCATAN,1,218,45,0,144,22,NaN,81,25,NaN,51,17
ZACATECAS,3,"2,023",505,3,"1,330",243,1,744,172,NaN,357,77
DESC.,46,"26,983","2,289",82,"23,041","1,982",15,"10,423",821,6,"6,283",421
TOTAL,453,"100,337","23,715",244,"83,049","12,882",39,"49,108","9,681",27,"27,859","5,560"
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
rango_edad.set_index('Grupo de edad', inplace=True, drop=True)
rango_edad

,nb_2019,h_2019,m_2019,nb_2020,h_2020,m_2020,nb_2021,h_2021,m_2021,nb_2022,h_2022,m_2022
Grupo de edad,,,,,,,,,,,,
De 00 a 17 años,50,"7,375","1,985",15,"5,569","1,326",1,"11,737","2,128",8,"7,288","1,325"
De 18 a 25 años,78,"20,381","4,514",57,"18,793","2,827",11,"10,538","1,903",5,"4,541",995
De 26 a 35 años,143,"32,117","5,733",82,"27,261","3,425",7,"11,122","2,021",2,"6,208","1,154"
De 36 a 45 años,93,"24,630","5,599",40,"19,468","2,513",7,"8,729","1,570",5,"4,986",828
De 46 a 55 años,48,"10,254","3,492",17,"7,845","1,555",2,"4,143","1,052",4,"2,125",588
De 56 a 65 años,12,"2,646","1,240",2,"1,773",532,1,"1,044",400,1,684,222
De 66 a 75 años,9,597,369,0,385,197,0,225,150,0,119,87
Más de 75 años,5,191,188,0,91,89,0,76,81,0,32,36
Se desconoce Edad,15,"2,146",595,31,"1,864",418,10,"1,494",376,2,"1,875",325
TOTAL,453,"100,337","23,715",244,"83,049","12,882",39,"49,108","9,681",27,"27,858","5,560"
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###E. Más limpieza de NaNs
Intencionalmente habíamos omitido mostrar completamente los dataframes de edo_origen y rango_edad hasta llegar a este punto en el procesamiento de datos. 
Como podemos ver en resultado de edo_origen y rango_edad tenemos múltiples filas llenas de puros NaNs. Estas representan espacios vacíos que venían en nuestro csv y por lo tanto deben ser eliminados. Esta vez, utilizaremos dropna.

In [75]:
#Para estado de origen

edo_origen.dropna(how='all', inplace=True)
edo_origen

,nb_2019,h_2019,m_2019,nb_2020,h_2020,m_2020,nb_2021,h_2021,m_2021,nb_2022,h_2022,m_2022
EDO. ORIGEN,,,,,,,,,,,,
AGUASCALIENTES,1,815,184,0,785,89,NaN,429,65,NaN,228,28
BAJA CALIFORNIA,1,894,316,0,943,215,1,610,155,1,298,80
BAJA CALIFORNIA SUR,0,41,23,0,31,8,NaN,22,9,NaN,20,11
CAMPECHE,1,255,46,1,266,21,NaN,162,17,NaN,66,20
CHIAPAS,67,"4,437","1,159",21,"4,413",673,2,"3,649",551,3,"2,498",445
CHIHUAHUA,9,"2,353",875,0,"1,549",343,2,"1,459",279,NaN,835,131
CIUDAD DE MÉXICO,16,"2,519","1,072",6,"1,762",567,NaN,909,438,1,504,238
COAHUILA,3,"1,137",574,0,566,157,NaN,500,109,NaN,328,56
COLIMA,5,303,115,2,261,50,NaN,136,43,NaN,63,24
DURANGO,8,"1,292",404,1,826,185,NaN,569,127,NaN,299,84
EDO. MEXICO,7,"3,968",917,8,"3,304",632,1,"2,525",646,3,"1,022",279
GUANAJUATO,14,"5,425","1,194",7,"4,030",567,1,"2,031",413,2,"1,141",195
GUERRERO,29,"7,305","2,833",19,"5,866","1,316",2,"3,607","1,094",2,"1,849",606
HIDALGO,53,"2,094",387,3,"1,469",207,1,754,174,1,528,138
JALISCO,16,"3,449","1,198",3,"2,618",595,3,"1,471",452,1,698,195
MICHOACAN,27,"6,072","2,075",14,"5,107",890,6,"2,798",682,1,"1,586",319
MORELOS,16,"1,214",450,3,809,219,NaN,553,181,NaN,269,86
NACIDO EXTRANJERO,4,151,212,0,83,63,NaN,41,48,NaN,26,39
NAYARIT,3,809,216,1,731,104,NaN,339,77,NaN,193,39
NUEVO LEON,8,870,348,0,716,184,NaN,487,232,NaN,262,72
OAXACA,30,"5,251","1,441",5,"3,877",904,3,"2,590",646,2,"1,448",505
PUEBLA,21,"4,359","1,297",10,"3,583",586,NaN,"2,200",478,2,"1,321",295
QUERETARO,0,"1,115",104,1,990,54,NaN,401,41,NaN,213,28
QUINTANA ROO,1,134,26,0,106,16,NaN,60,11,NaN,42,19
SAN LUIS POTOSI,6,"2,653",512,5,"1,747",245,1,829,178,NaN,450,111
SINALOA,14,"1,720",345,6,"1,461",181,NaN,892,142,NaN,543,103
SONORA,14,"1,638",639,1,"1,158",257,NaN,846,223,NaN,501,95
TABASCO,4,455,114,3,495,62,NaN,360,72,NaN,391,47
TAMAULIPAS,12,"3,304",790,23,"4,296",603,NaN,"3,930",481,2,"1,681",304
TLAXCALA,1,342,140,0,301,50,NaN,135,63,NaN,133,45
VERACRUZ,12,"4,739",870,16,"4,385",592,NaN,"2,566",536,NaN,"1,732",408
YUCATAN,1,218,45,0,144,22,NaN,81,25,NaN,51,17
ZACATECAS,3,"2,023",505,3,"1,330",243,1,744,172,NaN,357,77
DESC.,46,"26,983","2,289",82,"23,041","1,982",15,"10,423",821,6,"6,283",421
TOTAL,453,"100,337","23,715",244,"83,049","12,882",39,"49,108","9,681",27,"27,859","5,560"

In [76]:
#Para rango de edad

rango_edad.dropna(how='all', inplace=True)
rango_edad

,nb_2019,h_2019,m_2019,nb_2020,h_2020,m_2020,nb_2021,h_2021,m_2021,nb_2022,h_2022,m_2022
Grupo de edad,,,,,,,,,,,,
De 00 a 17 años,50,"7,375","1,985",15,"5,569","1,326",1,"11,737","2,128",8,"7,288","1,325"
De 18 a 25 años,78,"20,381","4,514",57,"18,793","2,827",11,"10,538","1,903",5,"4,541",995
De 26 a 35 años,143,"32,117","5,733",82,"27,261","3,425",7,"11,122","2,021",2,"6,208","1,154"
De 36 a 45 años,93,"24,630","5,599",40,"19,468","2,513",7,"8,729","1,570",5,"4,986",828
De 46 a 55 años,48,"10,254","3,492",17,"7,845","1,555",2,"4,143","1,052",4,"2,125",588
De 56 a 65 años,12,"2,646","1,240",2,"1,773",532,1,"1,044",400,1,684,222
De 66 a 75 años,9,597,369,0,385,197,0,225,150,0,119,87
Más de 75 años,5,191,188,0,91,89,0,76,81,0,32,36
Se desconoce Edad,15,"2,146",595,31,"1,864",418,10,"1,494",376,2,"1,875",325
TOTAL,453,"100,337","23,715",244,"83,049","12,882",39,"49,108","9,681",27,"27,858","5,560"

###E. Revisar NaNs
Proseguimos ahora a revisar los NaNs de nuestros 4 datasets, y los contamos sumando (.sum) todos los valores True que arroje la función ".isna()".

Esto funciona, ya que pandas reconoce True como 1 y False como 0, resultando en la cantidad de NaNs de nuestros datasets. 

Primero por columna:

In [77]:
#NaNs por columna - casos
casos.isna().sum()

nb_2010     5
h_2010      1
m_2010      1
nb_2011     6
h_2011      1
m_2011      1
nb_2012     7
h_2012      1
m_2012      1
nb_2013     9
h_2013      1
m_2013      1
nb_2014     8
h_2014      1
m_2014      1
nb_2015     5
h_2015      1
m_2015      1
nb_2016     7
h_2016      1
m_2016      1
nb_2017     5
h_2017      1
m_2017      1
nb_2018    13
h_2018      1
m_2018      1
nb_2019     4
h_2019      1
m_2019      1
nb_2020     5
h_2020      1
m_2020      1
nb_2021     8
h_2021      1
m_2021      1
nb_2022     9
h_2022      0
m_2022      1
dtype: int64

In [78]:
#NaNs por columna - oficinas
oficinas.isna().sum()

nb_2019     0
h_2019      0
m_2019      0
nb_2020     0
h_2020      0
m_2020      0
nb_2021    28
h_2021      0
m_2021      0
nb_2022    38
h_2022      0
m_2022      0
dtype: int64

In [79]:
#NaNs por columna - estado de orígen
edo_origen.isna().sum()

nb_2019     0
h_2019      0
m_2019      0
nb_2020     0
h_2020      0
m_2020      0
nb_2021    21
h_2021      0
m_2021      0
nb_2022    21
h_2022      0
m_2022      0
dtype: int64

In [80]:
#NaNs por columna - rango edad
rango_edad.isna().sum()

nb_2019    0
h_2019     0
m_2019     0
nb_2020    0
h_2020     0
m_2020     0
nb_2021    0
h_2021     0
m_2021     0
nb_2022    0
h_2022     0
m_2022     0
dtype: int64

Y después por fila:

In [81]:
#NaNs por fila - casos
casos.isna().sum(axis = 1)

RUBRO DE PROTECCIÓN
INCIDENTES, MÚLTIPLES INVOLUCRADOS (MIGRATORIO)                                                     37
MENOR PROCESADO BAJO LEY TVPRA                                                                       5
ORIENTACIóN GENERAL SOBRE CONSULTAS MIGRATORIAS Y/O TRáMITES DE RESIDENCIA                           0
OTROS CASOS DEL áMBITO MIGRATORIO                                                                    0
PERMISOS DE INTERNACIóN POR RAZONES HUMANITARIAS                                                     5
PROCESOS JUDICIALES MIGRATORIOS DE REMOCIóN                                                          0
PROCESOS JUDICIALES MIGRATORIOS DE RESIDENCIA                                                        7
REMOCIóN EXPEDITA EN PUERTOS DE ENTRADA                                                              1
REPATRIACIóN DE ENFERMOS EN PROCESOS DE REMOCIóN                                                    11
REPATRIACIóN DE ENFERMOS, PERSONAS ACCIDENTADAS O EN RIESGO EN SU INTENTO POR CRUZAR LA FRONTERA     7
REPATRIACIóN DE MENORES (POR ESTANCIA O INGRESO INDOCUMENTADO)                                       1
REPATRIACIóN DE MENORES INFRACTORES (NO POR FALTAS MIGRATORIAS)                                      9
REPATRIACIóN DE OTRAS PERSONAS VULNERABLES                                                           4
TESTIGOS DE CARGO                                                                                    5
USO DE DOCUMENTOS FALSOS                                                                            12
VíCTIMAS DE FRAUDE MIGRATORIO                                                                       12
dtype: int64

In [82]:
#NaNs por fila - oficinas
oficinas.isna().sum(axis = 1)

REPRESENTACIÓN
ALBUQUERQUE       1
ATLANTA           2
AUSTIN            2
BOISE             2
BOSTON            2
BROWNSVILLE       0
CALEXICO          1
CHICAGO           0
DALLAS            1
DEL RIO           2
DENVER            1
DETROIT           2
DOUGLAS           2
EAGLE PASS        0
EL PASO           0
FILADELFIA        1
FRESNO            1
HOUSTON           2
INDIANAPOLIS      2
KANSAS CITY       2
LAREDO            0
LAS VEGAS         2
LITTLE ROCK       2
LOS ANGELES       2
MC ALLEN          1
MIAMI             2
MILWAUKEE         2
NOGALES           0
NUEVA ORLEANS     2
NUEVA YORK        2
OMAHA             2
ORLANDO           2
OXNARD            2
PHOENIX           1
PORTLAND          2
PRESIDIO          2
RALEIGH           0
SACRAMENTO        1
SAINT PAUL        2
SALT LAKE CITY    0
SAN ANTONIO       1
SAN BERNARDINO    1
SAN DIEGO         1
SAN FRANCISCO     2
SAN JOSÉ          1
SANTA ANA         1
SEATTLE           2
TUCSON            0
WASHINGTON        1
YUMA              1
TOTAL             0
dtype: int64

In [83]:
#NaNs por fila - edo_origen
edo_origen.isna().sum(axis = 1)

EDO. ORIGEN
AGUASCALIENTES         2
BAJA CALIFORNIA        0
BAJA CALIFORNIA SUR    2
CAMPECHE               2
CHIAPAS                0
CHIHUAHUA              1
CIUDAD DE MÉXICO       1
COAHUILA               2
COLIMA                 2
DURANGO                2
EDO. MEXICO            0
GUANAJUATO             0
GUERRERO               0
HIDALGO                0
JALISCO                0
MICHOACAN              0
MORELOS                2
NACIDO EXTRANJERO      2
NAYARIT                2
NUEVO LEON             2
OAXACA                 0
PUEBLA                 1
QUERETARO              2
QUINTANA ROO           2
SAN LUIS POTOSI        1
SINALOA                2
SONORA                 2
TABASCO                2
TAMAULIPAS             1
TLAXCALA               2
VERACRUZ               2
YUCATAN                2
ZACATECAS              1
DESC.                  0
TOTAL                  0
dtype: int64

In [84]:
#NaNs por fila - rango_edad
rango_edad.isna().sum(axis = 1)

Grupo de edad
De 00 a 17 años      0
De 18 a 25 años      0
De 26 a 35 años      0
De 36 a 45 años      0
De 46 a 55 años      0
De 56 a 65 años      0
De 66 a 75 años      0
Más de 75 años       0
Se desconoce Edad    0
TOTAL                0
dtype: int64

Podemos observar que tenemos algunos NaNs en todos nuestros dataframes, menos en rango_edad. Inclusive hay varias columnas o filas que tienen sólo un par de datos y el resto son NaNs. En estos casos resulta inpráctico llenar los NaNs usando promedio, moda o mediana. Mientras que en otros casos dónde hay más datos que NaNs sí sería recomendable.

###E.3 Establecer tipo de datos
Todos nuestros datos son numéricos, pero están guardados en memoria como strings con el tipo de dato "object". Es necesario, entonces, convertirlos a dato de tipo numérico.

In [87]:
####

---
##F. Contestando preguntas

Dado que nuestro interés radica en las cuestiones ilegales de la migración, requerimos eliminar todas las filas que no nos proporcionen esta información. La elección de las mismas se justifica en el documento de investigación plasmado al inicio del notebook.

In [89]:
#Se van a eliminar las filas 1, 3, 5, 7, 12, 13, 14 y 15 porque estas NO tienen información sobre migración ilegal

casos_migracion_ilegal = casos.copy()
casos_migracion_ilegal.drop(index = ['INCIDENTES, MÚLTIPLES INVOLUCRADOS (MIGRATORIO)', 'ORIENTACIóN GENERAL SOBRE CONSULTAS MIGRATORIAS Y/O TRáMITES DE RESIDENCIA', 'PERMISOS DE INTERNACIóN POR RAZONES HUMANITARIAS', 'PROCESOS JUDICIALES MIGRATORIOS DE RESIDENCIA', 'REPATRIACIóN DE MENORES INFRACTORES (NO POR FALTAS MIGRATORIAS)', 'REPATRIACIóN DE OTRAS PERSONAS VULNERABLES', 'TESTIGOS DE CARGO', 'VíCTIMAS DE FRAUDE MIGRATORIO'], inplace=True)
casos_migracion_ilegal

,nb_2010,h_2010,m_2010,nb_2011,h_2011,m_2011,nb_2012,h_2012,m_2012,nb_2013,...,m_2019,nb_2020,h_2020,m_2020,nb_2021,h_2021,m_2021,nb_2022,h_2022,m_2022
RUBRO DE PROTECCIÓN,,,,,,,,,,,,,,,,,,,,,
MENOR PROCESADO BAJO LEY TVPRA,1,373,135,NaN,375,112,NaN,357,194,NaN,...,312,1,230,128,2,726,526,2,467,359
OTROS CASOS DEL áMBITO MIGRATORIO,10,"4,423","1,026",6,"8,073","1,129",11,"8,545","6,359",11,...,"6,519",142,"20,194","3,248",3,"12,009","2,985",1,"8,004","1,730"
PROCESOS JUDICIALES MIGRATORIOS DE REMOCIóN,16,"10,455","1,174",18,"18,514","1,413",26,"49,479","1,172",19,...,"5,339",64,"48,940","4,564",12,"14,908","1,560",9,"8,722","1,006"
REMOCIóN EXPEDITA EN PUERTOS DE ENTRADA,41,"21,203","3,897",2,"32,763","1,428",2,"32,491",94,1,...,695,5,"2,136",535,2,"2,286",825,3,564,258
REPATRIACIóN DE ENFERMOS EN PROCESOS DE REMOCIóN,NaN,178,25,53,158,14,NaN,156,23,NaN,...,8,1,171,10,NaN,25,2,NaN,12,2
"REPATRIACIóN DE ENFERMOS, PERSONAS ACCIDENTADAS O EN RIESGO EN SU INTENTO POR CRUZAR LA FRONTERA",1,727,327,1,643,297,NaN,797,331,NaN,...,122,1,331,101,3,551,156,NaN,144,55
REPATRIACIóN DE MENORES (POR ESTANCIA O INGRESO INDOCUMENTADO),21,"10,225","1,775",17,"7,739","1,411",26,"8,499","1,328",33,...,781,3,"5,343",661,3,"13,577","1,402",8,"7,323",849
USO DE DOCUMENTOS FALSOS,2,73,46,NaN,57,51,NaN,32,15,NaN,...,14,NaN,8,4,NaN,9,3,NaN,8,3

###F.1 Primera pregunta
> 1.- ¿Cuántos (y cuáles) de los trámites son por cuestiones de deportación o migración ilegal?


Para responder nuestra primera pregunta contaremos simplemente el número de filas que nos quedan en nuestro dataframe "casos_migracion_ilegal"

In [91]:
print(f'Tenemos {casos_migracion_ilegal.shape[0]} trámites por cuestiones de deportación o migración ilegal en nuestro dataframe.')
print("Estos son: ")
print(", ".join(list(casos_migracion_ilegal.index)).title())

Tenemos 8 trámites por cuestiones de deportación o migración ilegal en nuestro dataframe.
Estos son:
Menor Procesado Bajo Ley Tvpra, Otros Casos Del Ámbito Migratorio, Procesos Judiciales Migratorios De Remoción, Remoción Expedita En Puertos De Entrada, Repatriación De Enfermos En Procesos De Remoción, Repatriación De Enfermos, Personas Accidentadas O En Riesgo En Su Intento Por Cruzar La Frontera, Repatriación De Menores (Por Estancia O Ingreso Indocumentado), Uso De Documentos Falsos

###F.2 Segunda pregunta


> 2.- ¿Existe algún incremento en los casos de migración ilegal en mujeres?


Para nuestra pregunta número 2 sólo necesitamos conocer la información de mujeres, por lo que podemos eliminar las columnas que hacen referencia a hombres (h) y no binarios (nb)

In [92]:
casos_migracion_ilegal_mujeres = casos_migracion_ilegal.copy()
casos_migracion_ilegal_mujeres.drop(columns = list(casos_migracion_ilegal_mujeres.filter(regex='h_').columns), inplace = True)
casos_migracion_ilegal_mujeres.drop(columns = list(casos_migracion_ilegal_mujeres.filter(regex='nb_').columns), inplace = True)
casos_migracion_ilegal_mujeres

,m_2010,m_2011,m_2012,m_2013,m_2014,m_2015,m_2016,m_2017,m_2018,m_2019,m_2020,m_2021,m_2022
RUBRO DE PROTECCIÓN,,,,,,,,,,,,,
MENOR PROCESADO BAJO LEY TVPRA,135,112,194,165,204,389,434,107,323,312,128,526,359
OTROS CASOS DEL áMBITO MIGRATORIO,"1,026","1,129","6,359","4,619","5,526","5,844","6,418","9,550","6,176","6,519","3,248","2,985","1,730"
PROCESOS JUDICIALES MIGRATORIOS DE REMOCIóN,"1,174","1,413","1,172","1,089","1,081","2,451","4,304","3,588","3,335","5,339","4,564","1,560","1,006"
REMOCIóN EXPEDITA EN PUERTOS DE ENTRADA,"3,897","1,428",94,321,"1,363","1,415",241,534,592,695,535,825,258
REPATRIACIóN DE ENFERMOS EN PROCESOS DE REMOCIóN,25,14,23,7,3,7,8,5,8,8,10,2,2
"REPATRIACIóN DE ENFERMOS, PERSONAS ACCIDENTADAS O EN RIESGO EN SU INTENTO POR CRUZAR LA FRONTERA",327,297,331,285,259,190,143,81,62,122,101,156,55
REPATRIACIóN DE MENORES (POR ESTANCIA O INGRESO INDOCUMENTADO),"1,775","1,411","1,328","1,259","1,440","1,062","1,148",631,796,781,661,"1,402",849
USO DE DOCUMENTOS FALSOS,46,51,15,25,12,20,26,12,13,14,4,3,3

Añadimos una fila que nos de el total de casos por año de mujeres en situación de migración ilegal. Es decir, el total por columna.

> Sin embargo, para hacer esto necesitamos realizar dos pasos adicionales. En primer lugar, si recordamos los tipos de dato de nuestro dataset son object cuando deberían ser int. Por lo tanto primero haremos un casting de estos datos. Y en segundo lugar tenemos que revisar si hay NaNs en nuestros datos, y si hay tenemos que remplazarlos.

Y ahora sí convertimos de object a int

In [ ]:
#Dado que tenemos commas en los strings, será necesario eliminarlas antes de poder hacer el casting a int
casos_migracion_ilegal_mujeres = casos_migracion_ilegal_mujeres.apply(lambda x: x.str.replace(',',''))
casos_migracion_ilegal_mujeres

In [ ]:
#Verificamos si hay NaNs
casos_migracion_ilegal_mujeres.isna().sum()

Verificamos el tipo de dato inicial

In [ ]:
casos_migracion_ilegal_mujeres.dtypes

Y hacemos la conversión a int

In [ ]:
casos_migracion_ilegal_mujeres = casos_migracion_ilegal_mujeres.astype(int)
casos_migracion_ilegal_mujeres.dtypes

Y ahora sí calculamos nuestra fila de totales

In [ ]:
casos_migracion_ilegal_mujeres.loc['Totales'] = casos_migracion_ilegal_mujeres.sum()
casos_migracion_ilegal_mujeres

In [ ]:
#Gráfica de barras de lo anterior
import numpy as np
import matplotlib.pyplot as plt
 
  
# creating the dataset
anios = list(casos_migracion_ilegal_mujeres.columns)
valores = list(casos_migracion_ilegal_mujeres.loc['Totales'])
  
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(anios, valores, color ='maroon',
        width = 0.4)
 
plt.xlabel("Años")
plt.ylabel("Total de casos")
plt.title("Total anual de casos de migración ilegal en mujeres")
plt.show()

De lo anterior podemos ver que no hay una tendencia clara, hay años dónde hay más casos y otros en los que hay menos.

###F.3 Tercera pregunta


> 3.- ¿Realmente hubo un deceso de migración ilegal entre 2014 y 2017?


Para responder nuestra tercera pregunta retomaremos el dataframe de casos_migracion_ilegal. 

Obtendremos la suma de casos de migración ilegal y obtendremos los promedios en 4 años diferentes para así poder determinar si hubo un deceso o no a lo largo de estos 4 años, independientemente del género.

In [ ]:
#Lo primero que haremos será obtener los totales por año de los 3 géneros
#Separamos nuestro dataset principal en 4, uno para 2014, otro para 2015, 2016 y 2017
casos_migracion_ilegal_2014 = casos_migracion_ilegal.filter(regex='2014')
casos_migracion_ilegal_2015 = casos_migracion_ilegal.filter(regex='2015')
casos_migracion_ilegal_2016 = casos_migracion_ilegal.filter(regex='2016')
casos_migracion_ilegal_2017 = casos_migracion_ilegal.filter(regex='2017')

Ahora, revisaremos cada uno de nuestros datasets para ver si tenemos NaNs

In [ ]:
casos_migracion_ilegal_2014.isna().sum()

In [ ]:
casos_migracion_ilegal_2015.isna().sum()

In [ ]:
casos_migracion_ilegal_2016.isna().sum()

In [ ]:
casos_migracion_ilegal_2017.isna().sum()

Podemos ver que en los 4 dataframes hay unos cuantos NaNs. Por lo tanto, en vez de eliminarlos, los reemplazaremos por el promedio de casos en el género en cuestión. 

Pero para poder hacer esto es necesario que eliminemos primero las comas de los números.

In [ ]:
casos_migracion_ilegal_2017 = casos_migracion_ilegal_2017.apply(lambda x: x.str.replace(',',''))
casos_migracion_ilegal_2017

In [ ]:
#Para 2014
casos_migracion_ilegal_2014 = casos_migracion_ilegal_2014.apply(lambda x: x.str.replace(',',''))
casos_migracion_ilegal_2014_nb_promedio = casos_migracion_ilegal_2014.loc[:, 'nb_2014'].fillna(0).astype(int).mean().round()
casos_migracion_ilegal_2014.loc[:, 'nb_2014'] = casos_migracion_ilegal_2014.loc[:, 'nb_2014'].fillna(casos_migracion_ilegal_2014_nb_promedio)
casos_migracion_ilegal_2014

In [ ]:
#Para 2015
casos_migracion_ilegal_2015 = casos_migracion_ilegal_2015.apply(lambda x: x.str.replace(',',''))
casos_migracion_ilegal_2015_nb_promedio = casos_migracion_ilegal_2015.loc[:, 'nb_2015'].fillna(0).astype(int).mean().round()
casos_migracion_ilegal_2015.loc[:, 'nb_2015'] = casos_migracion_ilegal_2015.loc[:, 'nb_2015'].fillna(casos_migracion_ilegal_2015_nb_promedio)
casos_migracion_ilegal_2015

In [ ]:
#Para 2016
casos_migracion_ilegal_2016 = casos_migracion_ilegal_2016.apply(lambda x: x.str.replace(',',''))
casos_migracion_ilegal_2016_nb_promedio = casos_migracion_ilegal_2016.loc[:, 'nb_2016'].fillna(0).astype(int).mean().round()
casos_migracion_ilegal_2016.loc[:, 'nb_2016'] = casos_migracion_ilegal_2016.loc[:, 'nb_2016'].fillna(casos_migracion_ilegal_2016_nb_promedio)
casos_migracion_ilegal_2016

In [ ]:
#Para 2017
casos_migracion_ilegal_2017 = casos_migracion_ilegal_2017.apply(lambda x: x.str.replace(',',''))
casos_migracion_ilegal_2017_nb_promedio = casos_migracion_ilegal_2017.loc[:, 'nb_2017'].fillna(0).astype(int).mean().round()
casos_migracion_ilegal_2017.loc[:, 'nb_2017'] = casos_migracion_ilegal_2017.loc[:, 'nb_2017'].fillna(casos_migracion_ilegal_2017_nb_promedio)
casos_migracion_ilegal_2017

Ya que eliminamos las comas y que llenamos los NaNs, podemos ahora sí convertir a entero los datos y obtener la suma de casos de migración ilegal por año

In [ ]:
#Para 2014
casos_migracion_ilegal_2014 = casos_migracion_ilegal_2014.astype(int)
total_casos_2014 = casos_migracion_ilegal_2014.sum().sum()
promedio_casos_2014 = casos_migracion_ilegal_2014.mean().mean()

In [ ]:
#Para 2015
casos_migracion_ilegal_2015 = casos_migracion_ilegal_2015.astype(int)
total_casos_2015 = casos_migracion_ilegal_2015.sum().sum()
promedio_casos_2015 = casos_migracion_ilegal_2015.mean().mean()

In [ ]:
#Para 2016
casos_migracion_ilegal_2016 = casos_migracion_ilegal_2016.astype(int)
total_casos_2016 = casos_migracion_ilegal_2016.sum().sum()
promedio_casos_2016 = casos_migracion_ilegal_2016.mean().mean()

In [ ]:
#Para 2017
casos_migracion_ilegal_2017 = casos_migracion_ilegal_2017.astype(int)
total_casos_2017 = casos_migracion_ilegal_2017.sum().sum()
promedio_casos_2017 = casos_migracion_ilegal_2017.mean().mean()

Con la información anterior podemos ahora construir un dataframe

In [ ]:
d = {'2014': [total_casos_2014, promedio_casos_2014], '2015': [total_casos_2015, promedio_casos_2015], '2016': [total_casos_2016, promedio_casos_2016], '2017': [total_casos_2017, promedio_casos_2017]}
resumen_casos_2014_2017 = pd.DataFrame(d, index=['Total', 'Promedio'])
resumen_casos_2014_2017

In [ ]:
#Gráfica de barras de totales

# creating the dataset
anios = list(resumen_casos_2014_2017.columns)
totales = list(resumen_casos_2014_2017.loc['Total'])
promedios = list(resumen_casos_2014_2017.loc['Promedio'])

fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(anios, totales, color ='maroon',
        width = 0.4)
 
plt.xlabel("Años")
plt.ylabel("Total de casos")
plt.title("Total anual de casos de migración ilegal 2014-2017")
plt.show()

In [ ]:
#Gráfica de barras de promedios

fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(anios, promedios, color ='maroon',
        width = 0.4)
 
plt.xlabel("Años")
plt.ylabel("Promedio de casos")
plt.title("Promedio anual de casos de migración ilegal 2014-2017")
plt.show()

Con lo anterior podemos ver que no hubo un decenso en la migración ilegal entre 2014 y 2017. De hecho la cantidad de casos por año es casi idéntica año tras año con la expeción de 2015 donde hubo una cantidad ligeramente mayor.

###F.4 Cuarta pregunta


> 4.- ¿Cuál es el porcentaje de menores de edad que cruzan la frontera ilegalmente por sí solos (ley TVPRA)?


Para responder la pregunta 4 vamos a retomar nuevamente el dataframe casos_migracion_ilegal, enfocándonos únicamente en los años 2019 a 2022. 
Y también trabajaremos con el dataframe rango_edad.

Por lo tanto comenzamos eliminando los años que antecedan a 2019 en nuestro dataframe casos_migracion_ilegal.

In [ ]:
#Crearemos una copia de nuestro dataframe
casos_migracion_ilegal_2019_2022 = casos_migracion_ilegal.copy()

#Y eliminaremos las columnas que antecedan a 2019
columnas_drop_2010_2018 = casos_migracion_ilegal_2019_2022.loc[:, 'nb_2010': 'm_2018'].columns
casos_migracion_ilegal_2019_2022.drop(columns=columnas_drop_2010_2018, inplace=True)
casos_migracion_ilegal_2019_2022

Y obtendremos la suma de la fila "MENOR PROCESADO BAJO LEY TVPRA". Dado que sólo nos efocaremos en esta fila y esta no tiene NaNs, podemos ignorar los otros NaNs presentes en el dataframe.

In [ ]:
#Ocupamos convertir a int para poder hacer la suma
menor_procesado_tvpra = casos_migracion_ilegal_2019_2022.loc['MENOR PROCESADO BAJO LEY TVPRA', :]
#Y dado que no tenemos comas en los valores, podemos hacer la conversión directamente
menor_procesado_tvpra = menor_procesado_tvpra.astype(int)
#Y hacemos la suma
menor_procesado_tvpra_total_2019_2022 = menor_procesado_tvpra.sum()
menor_procesado_tvpra_total_2019_2022

Por otro lado, trabajaremos con el dataframe de rango_edad

In [ ]:
rango_edad

Como podemos ver, tenemos datos únicamente del 2019 al 2022. Es por ello que en el dataframe casos_migracion_ilegal tuvimos que eliminar todos los años previos a 2019. 

Como nuestro interés son los menores de edad, trabajaremos con la primera fila de nuestro dataset "De 00 a 17 años"

In [ ]:
rango_edad_menores_edad = rango_edad.loc['De 00 a 17 años', :]
rango_edad_menores_edad

Proseguiremos a obtener el total de esta fila:

In [ ]:
#Pero primero tenemos que eliminar las comas
rango_edad_menores_edad = rango_edad_menores_edad.apply(lambda x: x.replace(',',''))
#Después convertir a int
rango_edad_menores_edad = rango_edad_menores_edad.astype(int)
#Y dado que no hay NaNs, podemos obtener el total
total_rango_edad_menores_edad = rango_edad_menores_edad.sum()
total_rango_edad_menores_edad

Con los dos valores obtenidos podemos ahora sí obtener el porcentaje de cuántos menores de edad crusaron la frontera de manera ilegal por sí solos.

In [ ]:
porcentaje_menores_tvpra = menor_procesado_tvpra_total_2019_2022/total_rango_edad_menores_edad
print(f'El porcentaje de menores que crusaron la frontera de manera ilegal de 2019 a 2022 fue de {porcentaje_menores_tvpra*100:.2f}%')

###F.5 Quinta pregunta


> 5.- ¿De qué estado de la República Mexicana provienen la mayoría de los migrantes ilegales?


Para responder a nuestra última pregunta utilizaremos el dataframe de edo_origen. Primero será necesario limpiar nuestro dataframe para sustituir NaNs por promedios, eliminar comas, convertir a int, y obtener el valor máximo por estado, para después encontrar el estado con el mayor número de migrantes ilegales.

In [ ]:
#A fin de no tener que limpiar manualmente fila por fila los NaNs, se creará una función que nos permitirá obtener el promedio por fila y sustituirlo en los NaNs correspondientes
def llena_NaNs_con_promedio(dataframe_a_procesar): 
  #Hacemos una copia del arreglo original
  prueba = dataframe_a_procesar.copy()

  #Eliminamos comas en los números y obtenemos el promedio por fila
  prueba = prueba.apply(lambda row: row.apply(lambda x: x.replace(',', '') if isinstance(x, str) else np.nan))
  promedios = prueba.fillna(0).astype(int).mean(axis = 1).round().to_list()
  
  indice = 0

  #Remplazamos por fila los NaN por el promedio obtenido anteriormente
  for i, row in prueba.iterrows():
      prueba.loc[i] = prueba.loc[i].fillna(promedios[indice])
      indice += 1

  #Convertimos todo el dataframe a entero
  prueba = prueba.astype(int)

  #Dropeamos las filas de TOTAL y DESCONOCIDO
  prueba = prueba.drop(index=['TOTAL', 'DESC.'])

  #Regresamos una serie con los valores máximos por estado
  return prueba.max(axis = 1)

In [ ]:
#Llamamos la función
maximo_numero_migrantes_ilegales_por_estado = llena_NaNs_con_promedio(edo_origen)

#Encontramos el estado con mayor número de migrantes ilegales
index_max = maximo_numero_migrantes_ilegales_por_estado.idxmax()
#Y el número de migrantes ilegales correspondiente
maximo_numero_migrantes_ilegales_estado = maximo_numero_migrantes_ilegales_por_estado.max()

Con lo anterior encontramos el estado con máximo número de casos de inmigrantes.

In [ ]:
print(f'El estado con mayor número de migrantes ilegales fue {index_max} con un total de {maximo_numero_migrantes_ilegales_estado}')

---
##G. Planes a futuro  - Postwork 8

Dado que este módulo únicamente abarca el procesamiento de datos, y por ende no se finaliza la investigación, proponemos los siguientes puntos para un futuro estudio del tema:

*   Obtener datos más concretos respecto al tipo de trámites realizados en cada oficina del consulado.
*   Comparar los datos de este dataset con las estadísticas generales de migración para...