<a href="https://colab.research.google.com/github/JuanMaLR/bedu-equipo4-dataScience-P-FP/blob/main/FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Proyecto Final Fase 2 Módulo 2 BEDU

##Procesamiento de datos con Python

##Equipo 4

###Integrantes: 
####Juan Manuel Ledesma Rangel
####Hannia
####Alejandro
####Martin
####Alvarado

#Identificación de un problema - Postwork 1


##Identificación de un problema


##Investigación


##Búsqueda de soluciones anteriores

#Planteamiento de Preguntas  - Postwork 2

#Colección de Datos/Uso de APIs  - Postwork 3 y 6

In [1]:
#Realizar los imports necesarios
import requests
import pandas as pd

#Declarar endpoints de mi información
#XLSX_URL = 'https://datos.jalisco.gob.mx/sites/default/files/vehiculos_motor_registrados_por_municipio_jalisco_1980-2020.xlsx'
XLSX_URL = 'https://aire.jalisco.gob.mx/reportes/datos_1996.xlsx'

#Realizar request a mi endpoint
xlsx_file = requests.get(XLSX_URL)

#Convertir de excel a DataFrame
df = pd.read_excel(xlsx_file.content)

#Análisis exploratorio de datos - Postwork 4

*   ¿El conjunto de datos que tengo realmente me sirve para responder algunas de las preguntas que me planteé?
*   ¿Qué tamaño tiene mi conjunto de datos? ¿Serán datos suficientes?
*   ¿Qué columnas tengo y qué información tengo en cada una de esas columnas?
*   Los nombres que tienen mis columnas, ¿son el nombre más apropiado?
*   ¿Qué tipos de datos tengo en cada columna? ¿Parecen ser el tipo correcto de datos? ¿O es un tipo de datos "incorrecto"?
*   Si selecciono algunas filas al azar y las observo, ¿estoy obteniendo los datos que debería? ¿o hay datos que parecen estar "sucios" o "incorrectos"?

In [6]:
df.shape

(31639, 27)

In [7]:
df.columns

Index(['FECHA', 'CLAVE_EST', 'PARAMETRO', 'HORA01', 'HORA02', 'HORA03',
       'HORA04', 'HORA05', 'HORA06', 'HORA07', 'HORA08', 'HORA09', 'HORA10',
       'HORA11', 'HORA12', 'HORA13', 'HORA14', 'HORA15', 'HORA16', 'HORA17',
       'HORA18', 'HORA19', 'HORA20', 'HORA21', 'HORA22', 'HORA23', 'HORA24'],
      dtype='object')

In [14]:
df.dtypes

FECHA        datetime64[ns]
CLAVE_EST            object
PARAMETRO            object
HORA01              float64
HORA02              float64
HORA03              float64
HORA04              float64
HORA05              float64
HORA06              float64
HORA07              float64
HORA08              float64
HORA09              float64
HORA10              float64
HORA11              float64
HORA12              float64
HORA13              float64
HORA14              float64
HORA15              float64
HORA16              float64
HORA17              float64
HORA18              float64
HORA19              float64
HORA20              float64
HORA21              float64
HORA22              float64
HORA23              float64
HORA24              float64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31639 entries, 0 to 31638
Data columns (total 27 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FECHA      31639 non-null  datetime64[ns]
 1   CLAVE_EST  31639 non-null  object
 2   PARAMETRO  31639 non-null  object
 3   HORA01     31639 non-null  float64
 4   HORA02     31639 non-null  float64
 5   HORA03     31639 non-null  float64
 6   HORA04     31639 non-null  float64
 7   HORA05     31639 non-null  float64
 8   HORA06     31639 non-null  float64
 9   HORA07     31639 non-null  float64
 10  HORA08     31639 non-null  float64
 11  HORA09     31639 non-null  float64
 12  HORA10     31639 non-null  float64
 13  HORA11     31639 non-null  float64
 14  HORA12     31639 non-null  float64
 15  HORA13     31639 non-null  float64
 16  HORA14     31639 non-null  float64
 17  HORA15     31639 non-null  float64
 18  HORA16     31639 non-null  float64
 19  HORA17     31639 non-null  float64
 20  HORA18     31639 non-null  float64
 21  HORA19     31639 non-null  float64
 22  HORA20     31639 non-null  float64
 23  HORA21     31639 non-null  float64
 24  HORA22     31639 non-null  float64
 25  HORA23     31639 non-null  float64
 26  HORA24     31639 non-null  float64
dtypes: datetime64[ns](1), float64(24), object(2)
memory usage: 6.5+ MB

In [9]:
df.head(10)

,FECHA,CLAVE_EST,PARAMETRO,HORA01,HORA02,HORA03,HORA04,HORA05,HORA06,HORA07,...,HORA15,HORA16,HORA17,HORA18,HORA19,HORA20,HORA21,HORA22,HORA23,HORA24
0,1996-01-01,AGU,CO,0.6,0.6,0.7,0.7,0.7,0.6,1.2,...,0.6,0.6,0.6,0.6,0.7,0.7,0.7,0.9,0.8,0.7
1,1996-01-01,AGU,NO2,16.0,18.0,17.0,18.0,19.0,17.0,23.0,...,15.0,15.0,15.0,15.0,19.0,18.0,19.0,23.0,21.0,17.0
2,1996-01-01,AGU,NOX,17.0,19.0,17.0,19.0,19.0,14.0,28.0,...,15.0,15.0,16.0,15.0,18.0,20.0,19.0,23.0,20.0,16.0
3,1996-01-01,AGU,O3,38.0,41.0,38.0,35.0,35.0,37.0,31.0,...,52.0,50.0,48.0,46.0,40.0,39.0,37.0,27.0,29.0,31.0
4,1996-01-01,AGU,PM10,221.7,86.5,296.8,181.5,129.7,171.7,275.5,...,185.2,133.1,211.0,259.4,231.6,216.6,342.1,298.2,219.0,133.3
5,1996-01-01,AGU,RH,73.9,75.3,75.0,77.4,75.2,78.2,81.9,...,25.7,32.6,36.0,37.1,39.6,44.0,52.7,66.1,73.9,75.6
6,1996-01-01,AGU,SO2,1.0,3.0,3.0,2.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,1996-01-01,AGU,TMP,12.6,12.3,11.6,11.0,10.6,10.4,9.7,...,18.4,18.4,18.7,18.1,16.9,15.6,14.7,12.8,11.8,11.2
8,1996-01-01,AGU,WDR,237.4,234.4,243.7,258.3,266.5,228.9,222.0,...,235.7,230.0,232.9,225.7,220.0,229.6,245.7,256.6,266.1,249.6
9,1996-01-01,AGU,WSP,12.3,11.4,10.4,10.4,6.8,6.1,1.8,...,12.8,12.1,10.9,9.6,10.1,10.4,9.3,6.1,7.9,6.5

In [10]:
df.tail(10)

,FECHA,CLAVE_EST,PARAMETRO,HORA01,HORA02,HORA03,HORA04,HORA05,HORA06,HORA07,...,HORA15,HORA16,HORA17,HORA18,HORA19,HORA20,HORA21,HORA22,HORA23,HORA24
31629,1996-12-31,VAL,NO2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31630,1996-12-31,VAL,NOX,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31631,1996-12-31,VAL,O3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,70.0,74.0,50.0,38.0,16.0,2.0,4.0,4.0,3.0,0.0
31632,1996-12-31,VAL,PM10,22.9,32.7,26.9,37.8,56.8,108.1,83.0,...,14.7,17.6,3.5,22.1,34.7,46.8,1.0,25.6,23.9,79.8
31633,1996-12-31,VAL,RH,69.8,72.7,74.8,81.3,81.5,81.1,81.6,...,38.0,35.1,30.0,29.2,31.0,37.0,34.5,34.8,36.8,42.4
31634,1996-12-31,VAL,SO2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31635,1996-12-31,VAL,THC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31636,1996-12-31,VAL,TMP,15.1,14.6,14.0,12.7,12.3,12.1,11.9,...,22.4,22.9,23.3,23.0,21.6,19.5,19.0,18.6,17.9,16.4
31637,1996-12-31,VAL,WDR,306.4,307.1,315.8,301.5,310.6,315.3,315.1,...,227.8,283.0,325.8,322.6,319.4,319.0,319.3,318.6,317.7,298.6
31638,1996-12-31,VAL,WSP,1.0,1.9,2.0,2.1,2.3,1.9,1.1,...,1.8,1.6,2.0,4.5,4.0,5.0,5.7,4.9,4.1,1.4

#Limpieza del DataFrame - Postwork 5

*   Explora tu dataset con el fin de encontrar los NaNs que contiene. Piensa en la distribución de NaNs por columna y por fila.
*   Piensa cuáles son los procedimientos que puedes aplicar a tus NaNs. ¿Tenemos que eliminar las filas/columnas que tienen esos NaNs? ¿O podríamos rellenar esos NaNs con algún valor de manera que podamos retener esas filas/columnas?
*   Limpia tu dataset de manera que no quede ningún NaN.
*   Reindexa tu dataset si lo consideras necesario.
*   Renombra tus columnas si lo consideras necesario.
*   Prueba aplicar agregaciones a tu DataFrame para ver si puedes empezar a responder algunas de las preguntas que te planteaste anteriormente.

In [11]:
#NaNs por columna
df.isna().sum()

FECHA        0
CLAVE_EST    0
PARAMETRO    0
HORA01       0
HORA02       0
HORA03       0
HORA04       0
HORA05       0
HORA06       0
HORA07       0
HORA08       0
HORA09       0
HORA10       0
HORA11       0
HORA12       0
HORA13       0
HORA14       0
HORA15       0
HORA16       0
HORA17       0
HORA18       0
HORA19       0
HORA20       0
HORA21       0
HORA22       0
HORA23       0
HORA24       0
dtype: int64

In [13]:
#NaNs por fila
df.isna().sum(axis = 1)

0        0
1        0
2        0
3        0
4        0
        ..
31634    0
31635    0
31636    0
31637    0
31638    0
Length: 31639, dtype: int64

In [ ]:
#df_dropped = df.dropna(axis=0, how='all')
#df_no_nans['productos_vendidos'].fillna(0)
#df_dropped = df_dropped.reset_index(drop=True)
#column_name_mapping = {
#    'Suburb': 'suburb',
#    'Address': 'address',
#}
#df_renamed = df_dropped.rename(columns=column_name_mapping)

#Procesamiento de datos  - Postwork 7

*   Checa que todos tus datos tengan el tipo de dato correcto. Si no es así, usa casting para convertir tus datos al tipo de dato correcto (recuerda que tipos de dato como datetime64 se guardan como strings cuando están en archivos .csv, así que tendrás que convertirlos al tipo de dato apropiado cada vez que importes tu archivo.)
*   Si tienes columnas de texto, asegúrate de que todas tengan el formato correcto. Si no es así, utiliza las técnicas de manipulación de strings para darles el formato que necesitas.
*   Si consideras que alguna de tus columnas sería más clara si los datos tuvieran otro formato o representación usa map para transformar los datos de esa columna.
*   Si crees que es posible generar nuevas columnas útiles a partir de las columnas que ya tienes, usa apply para generar nuevos datos a partir de los que tienes y añádelos a tu dataset.
*   Con el fin de responder algunas de las preguntas que te planteaste acerca de tu dataset, usa filtros y sorting para crear nuevos subconjuntos y reordenamientos que sean más adecuados para responder tus preguntas.

In [ ]:
#diccionario_de_conversion = {
#    'bestsellers_date.numberLong': 'datetime64[ns]',
#    'published_date.numberLong': 'datetime64[ns]'
#}
#temp = df.astype(diccionario_de_conversion)
#pd.to_datetime(df['published_date.numberLong'], unit='ms')
#df['rank.numberInt'] = pd.to_numeric(df['rank.numberInt'], errors='coerce')
#df['description'] = df['description'].str.replace('Descr:', '')
#df['description'] = df['description'].str.strip()
#df['title'].str.lower()
#df[['author_first_name', 'author_last_name']] = df['author'].str.split(' ', expand=True)
#def years_since_bestseller(value):
#    as_datetime = pd.to_datetime(value, unit='ms')
#    today = pd.to_datetime('today')
#    difference_in_days = (today - as_datetime).days
#    in_years = difference_in_days / 365    
#    return in_years
#df['published_date.numberLong'].apply(years_since_bestseller)

#Planes a futuro  - Postwork 8